.THIS .slds-th__action-button {
    display: none;
}

.THIS .slds-hint-parent th {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.875rem;
    padding-left: 1rem;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.THIS .slds-hint-parent div {
    overflow: visible;
    white-space: normal;
}

.THIS .slds-scrollable_y {
    width: 100% !important;
}

.THIS .slds-table--header-fixed_container {
    overflow-x: hidden !important;
}
.THIS table {
    width: 100% !important;
}

.THIS table thead tr th:first-child {
    width: 40% !important;
}

.THIS table thead tr th {
    width: 15% !important;
}

.THIS table thead tr th span {
    width: 100% !important;
}

.THIS table thead tr th span a {
    width: 100% !important;
}

.THIS .slds-button[disabled] {
    color: black;
}