/**
 * Created by grzegorz.dlugosz on 28.05.2019.
 */
.THIS .c-label,
.THIS.c-label {
    color: rgb(0, 0, 0);
    font-size: .95rem;
    margin-bottom: 4px;
}
.THIS.c-text,
.THIS .c-text {
    font-weight: 400;
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.8);
}
.THIS.c-title,
.THIS .c-title {
    font-size: 1.325rem;
    font-weight: 400;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 12px;
}