/**
 * Created by grzegorz.dlugosz on 24.05.2019.
 */
/*.THIS.greenOffer,
.THIS .greenOffer {
    height: 25px;
    width: 25px;
    background-color: rgb(7, 255, 112);
    border-radius: 50%;
    display: inline-block;
}*/
/*.THIS.blueOffer,
.THIS .blueOffer {
    height: 25px;
    width: 25px;
    background-color: rgb(0, 115, 164);
    border-radius: 50%;
    display: inline-block;
}*/
.THIS.blueOffer,
.THIS .blueOffer {
    background-color: rgb(0, 115, 164);
    border: 1px solid rgb(0, 115, 164);
}
.THIS.redOffer,
.THIS .redOffer {
    background-color: rgb(237, 28, 36);
    border: 1px solid rgb(237, 28, 36);
}
.THIS.c-title-styles,
.THIS .c-title-styles {
    display: inline-block;
    line-height: 27px;
    vertical-align: text-bottom;
    margin-left: 3px;
}