.THIS {
}

.THIS.panel {
    background: rgb(243, 242, 242);
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -10px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.THIS .content {
    margin-top: 65px;
}