/**
 * Created by grzegorz.dlugosz on 21.05.2019.
 */
.THIS .c-margin-top-24,
.THIS.c-margin-top-24 {
    margin-top: 24px;
}
.THIS .c-background-gray,
.THIS.c-background-gray{
    background-color: rgb(241, 241, 241);
}
.THIS .c-padding-lf-40,
.THIS.c-padding-lf-40{
    padding: 0 40px;
}
.THIS .c-align-right,
.THIS.c-align-right {
    text-align: right;
}
.THIS.c-padding-bottom-20,
.THIS .c-padding-bottom-20 {
    padding-bottom: 20px;
}
.THIS.c-margin-top-10,
.THIS .c-margin-top-10 {
    margin-top: 10px;
}
.THIS.c-text-color-red,
.THIS .c-text-color-red {
    color: rgb(194, 57, 52);
}
.THIS.c-padding-bottom-0,
.THIS .c-padding-bottom-0 {
    padding-bottom: 0;
}
.THIS.countDown,
.THIS .countDown {
    font-weight: bold;
    font-size: large;
}
.THIS.secondBid,
.THIS .secondBid {
    font-weight: bold;
}
.THIS.newBlueOffer,
.THIS .newBlueOffer {
    margin-top: 10px;
    background-color: rgb(0, 115, 164);
    border: 1px solid rgb(0, 115, 164);
}