/**
 * Created by grzegorz.dlugosz on 23.05.2019.
 */
.THIS.lastPlaceLine,
.THIS .lastPlaceLine {
    border-bottom: 3px solid black;
}
.THIS.lowerOpacity,
.THIS .lowerOpacity {
    opacity: 0.4;
}
.THIS .blueRow,
.THIS.blueRow {
    background-color: rgb(0, 115, 164);
    color: white;
}
/*
.THIS .greenRow,
.THIS.greenRow {
    background-color: rgb(7, 255, 112);
}*/
.THIS .redRow,
.THIS.redRow {
    background-color: rgb(237, 28, 36);
    color: white;
}