<apex:page standardController="Account" extensions="AccountExtension" renderAs="PDF" applyBodyTag="false">
    <apex:variable value="{!1}" var="count"/>
    <apex:messages />    
    <apex:image value="{!$Resource.EmailBanner}"/>
    <div class="content" style="font-family:'Arial','Arial Unicode MS', 'Courier', 'Helvetica', 'Times-Roman'; font-size:12px;">
        <p>Poniżej znajduje się lista przekazanych Państwu inwestorów:</p>
        <ol>
            <apex:repeat value="{!TelemarketingLeads}" var="lead">
            <li>
                {!lead.First_Name__c}, {!lead.Last_Name__c}, {!lead.Full_Location__c}, {!lead.Account_Latest_Design__c}
            </li>                          
            </apex:repeat>
        </ol>
    </div>
    <div class="footer">
    </div>
</apex:page>