<apex:page docType="html-5.0" applyBodyTag="false" applyHtmlTag="false" showHeader="false" standardStylesheets="false" controller="ContextUserController">
<html>
    <head>
        <title>Zakładki - EXTRADOM</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <c:css />
        <c:AdOcean role="Społeczność"/>
        
        
    </head>

    <body lang="pl">
    
        <c:Nav />
        
        <section class="container">
        
                <ul class="breadcrumb">
                    <li class="color-red"><a class="inline-logo no-underline" href="{!URLFOR($Page.DesignSearchView)}"></a></li>
                    <li><a href="{!URLFOR($Page.NewsView)}">Powiadomienia</a></li>
                    <li class="active">Zakładki</li>
                </ul>
        
            <div>
                <h1><span class="color-red">Powiadomienia</span> – zakładki</h1>
            </div>
        
            <div class="row">

                <!-- filter list -->
                <section class="col-xs-12 col-md-9 col-lg-2">
                
                    <div class="row">
                        <div class="col-xs-12 col-lg-11">
                            <div class="row">
                                <div class="col-xs-4 col-lg-12 section-col">
                                    <img src="//img.extradom.pl/media/render/news/resize%24200-300-1" class="img-responsive" alt="powiadomienia" />
                                </div>
                                <div class="col-xs-8 col-lg-12 section-col">
                                    <div class="row">
                                        <c:filterPicklistItem selected="false" show="true" link="{!URLFOR($Page.NewsView)}" label="wszystkie treści" />
                                        <c:filterPicklistItem selected="false" show="true" link="{!URLFOR($Page.NewsToMeView)}" label="skierowane do mnie" />
                                        <c:filterPicklistItem selected="false" show="true" link="{!URLFOR($Page.NewsQuestionsView)}" label="pytania i odpowiedzi" />
                                        <c:filterPicklistItem selected="true" show="true" link="{!URLFOR($Page.BookmarksView)}" label="zakładki" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </section>
                
                <!-- content -->
                <section class="col-xs-12 col-md-3 pull-right">
                    <div class="row">
                        <div class="col-xs-12 col-lg-11 pull-right">
                            <h3><a href="{!URLFOR($Page.BookmarksGalleryView)}" style="color:inherit;">Galeria zakładek</a></h3>
                            <div class="row" style="padding:4px;">
                                <c:FeedElementsFromList feedElements="{!FeedElementsFromFeedBookmarksThumbs.elements}" role="thumb" />
                            </div>
                            <p>
                                <a style="font-size:12px;color:#777;" href="{!URLFOR($Page.BookmarksGalleryView)}">więcej »</a>
                            </p>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
                
                <!-- content -->
                <section id="content" class="col-xs-12 col-md-9 col-lg-7">
                
                    <h2>Ostatnio dodane</h2>
                    <div class="row" id="feed" data-role="feed">
                        <c:FeedElements feedElementPage="{!FeedElementsFromFeedBookmarks}" />
                        <apex:outputText rendered="{!FeedElementsFromFeedBookmarks.nextPageToken!=null}">
                            <div data-role="moreFeedElementsBar" data-nextpageparam="{!FeedElementsFromFeedBookmarks.nextPageToken}" class="feed-element section-col col-xs-12 text-center">
                                <a role="button" data-role="moreFeedElementsButton" data-nextpageparam="{!FeedElementsFromFeedBookmarks.nextPageToken}" data-type="bookmarks" data-subjectid="me" onclick="loadMoreFeedElements(this);" class="btn btn-default btn-small"><span data-role="moreFeedElementsStatus" data-nextpageparam="{!FeedElementsFromFeedBookmarks.nextPageToken}" class="fa fa-angle-double-down"></span> więcej</a>
                            </div>
                        </apex:outputText>
                    </div>

                </section>
                <!-- /.content -->
                
            </div>
        </section>
        
        <c:ExtradomFooter />
        <c:Gemius role="Społeczność"/>
        
        
    </body>
    
</html>

</apex:page>