<apex:page id="page" docType="html-5.0" cache="true" expires="604800" applyBodyTag="false" applyHtmlTag="false" controller="CatalogueOrderController" showHeader="false" standardStylesheets="false">
<html>
    <head>      
        <title>Bezpłatny katalog | extradom</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Zamów bezpłatnie najnowszy katalog z 505 najpopularniejszymi gotowymi projektami domów, w wygodnej formie papierowej" />
        
        <script data-cfasync="false" src="https://tracker.gaconnector.com/gaconnector.js" type="text/javascript"></script>

        <c:css />
        
    </head>

    <body lang="pl">
    
        <c:Nav />
        
        <section class="container">
            
            <ul class="breadcrumb">
                <li class="color-red"><a class="inline-logo no-underline" href="{!URLFOR($Page.DesignSearchView)}"></a></li>
                <li class="active">Bezpłaty katalog</li>
            </ul>
            
            <div>
                <h1 class="color-red">Bezpłatny katalog</h1>
            </div>
            
            <div class="row">
            
                <apex:pageMessages />
            
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-xs-12 col-md-11">
                            <div class="row">
                                <div class="col-xs-4 col-md-12 section-col">
                                    <img class="img-responsive" src="//static.extradom.pl/katalog-I-2017.png" />
                                </div>
                                <div class="col-xs-8 col-md-12 section-col">
                                    <h3 style="margin-top:0;">Dlaczego warto?</h3>
                                    <ul class="list-unstyled fa-ul">
                                        <li><span class="fa-li fa fa-check color-red"></span> <s>9,90 zł</s> <strong>0 zł</strong></li>
                                        <li><span class="fa-li fa fa-check color-red"></span> Dostawa gratis</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                        
                        <div class="col-xs-12 col-md-9 col-lg-6 section-col">
                            <h2>Zamów bezpłatny katalog <span class="color-red inline-logo">extradom</span></h2>
                                    <p class="header-text"><strong>Katalog Extradom</strong> z najpopularniejszymi gotowymi projektami domów, garaży i kuchni letnich daje możliwość przeglądania naszej oferty w wygodnej formie papierowej. Zamów bezpłatny egzemplarz telefonicznie lub wypełnij poniższy formularz. <br />
                                    
                                    </p>
<div id="orderCatalogueSuccess" class="hidden">
        <p class="text-center" style="font-size:20px;"><b><span class="fa fa-check color-red"></span>&nbsp; Twoje zamówienie zostało przyjęte</b></p>
        <p class="text-center header-text">Potwierdzenie zamówienia przesłaliśmy na Twój adres email</p>
    </div>
<form action="#" id="orderCatalogueForm" method="POST">
    <input type="hidden" name="gclid" id="orderCatalogueGclid" value="" />
<div class="section-col">    
    <div class="row inner-section-col">
        <div class="col-xs-3">
            <label class="form-control-label" for="orderCatalogueEmail">Email<span class="color-red">*</span></label>
        </div>
        <div class="col-xs-9">
            <input class="form-control" id="orderCatalogueEmail" maxlength="80" name="email" placeholder="Email" required="required" type="email" />
        </div>
    </div>
    <div class="row inner-section-col">
        <div class="col-xs-3">
            <label class="form-control-label" for="orderCataloguePhone">Telefon<span class="color-red">*</span><br /><small>np. 601234567</small></label>
        </div>
        <div class="col-xs-9">
            <input class="form-control" id="orderCataloguePhone" maxlength="40" name="phone" pattern="(?!123456789|601234567|111111111|123123123|500500500)((00(?!48)[1-9][0-9]+)|([1-9][0-9]{8}))" placeholder="Telefon" required="required" type="tel" />
        </div>
    </div>
    
    <div class="row inner-section-col">
        <div class="col-xs-3">
            <label class="form-control-label" for="orderCatalogueFirstName">Imię<span class="color-red">*</span></label>
        </div>
        <div class="col-xs-9">
            <input class="form-control" id="orderCatalogueFirstName" maxlength="80" name="firstName" placeholder="Imię" required="required" />
        </div>
    </div>
    <div class="row inner-section-col">
        <div class="col-xs-3">
            <label class="form-control-label" for="orderCatalogueLastName">Nazwisko<span class="color-red">*</span></label>
        </div>
        <div class="col-xs-9">
            <input class="form-control" id="orderCatalogueLastName" maxlength="80" name="lastName" placeholder="Nazwisko" required="required" />
        </div>
    </div>

<div class="row" style="margin-top:10px;">
                                            <div class="col-xs-12 col-sm-3">
                                                <label class="form-control-label" for="orderCatalogueStreetName">Adres<span class="color-red">*</span></label>
                                            </div>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="row text-center" style="margin-bottom:4px;">
                                                    <div class="col-xs-7 col-sm-8 col-lg-9"><input id="orderCatalogueStreetName" type="text" name="streetName" class="form-control" required="required" maxlength="80" placeholder="Ulica" />
                                                    </div>
                                                    <div class="col-xs-5 col-sm-4 col-lg-3">
                                                        <div class="row">
                                                            <div class="col-xs-5" style="padding-left:0;padding-right:0;">
                                                                <input id="orderCatalogueStreetNo" type="text" name="streetNo" class="form-control" required="required" style="text-align:center;" maxlength="10" placeholder="Nr" />
                                                            </div>
                                                            <div class="col-xs-2" style="padding-left:0;padding-right:0;">
                                                                <label class="form-control-label" for="streetFlat">/</label>
                                                            </div>
                                                            <div class="col-xs-5" style="padding-left:0;">
                                                                <input id="orderCatalogueStreetFlat" type="text" name="streetFlat" class="form-control" style="text-align:center;" maxlength="10" placeholder="lok" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row text-center" style="margin-bottom:4px;">
                                                    <div class="col-xs-5 col-sm-4 col-lg-3">
                                                        <div class="row">
                                                            <div class="col-xs-5" style="padding-right:0;"><input id="orderCataloguePostalCodePart1" type="text" name="postalCodePart1" class="form-control" required="required" style="text-align:center;" maxlength="2" pattern="[0-9][0-9]" placeholder="__" />
                                                            </div>
                                                            <div class="col-xs-2" style="padding-left:0;padding-right:0;">
                                                                <label class="form-control-label">-</label>
                                                            </div>
                                                            <div class="col-xs-5" style="padding-left:0;padding-right:0;">
                                                                <input id="orderCataloguePostalCodePart2" type="text" name="postalCodePart2" class="form-control" required="required" style="text-align:center;" maxlength="3" pattern="[0-9][0-9][0-9]" placeholder="___" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-7 col-sm-8 col-lg-9">
                                                        <input id="orderCatalogueCity" type="text" name="city" class="form-control" required="required" maxlength="80" placeholder="Miejscowość" />
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
</div>    
            <div class="form-group row">
                <div class="col-xs-12 col-sm-6">
                    <div class="row inner-section-col">
                        <div class="col-xs-12">
                            <p style="margin-bottom:0px;">Czy posiadasz już działkę budowlaną?<span class="color-red">*</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                               <div class="form-check col-xs-12">
                                    <label for="orderCataloguePlot1" class="form-check-label" data-toggle="popover" data-content="<a href='{!$Page.PlotMapView}'>Zamów analizę działki >></a>" id="plotLabel1">             
                                        <input class="form-check-input" value="Yes" type="radio" id="orderCataloguePlot1" name="Plot" required="required"/>
                                        Tak
                                    </label>                                         
                               </div>
                           </div>
                           <div class="row">
                               <div class="form-check col-sm-3 col-xs-12">
                                    <label for="orderCataloguePlot2" class="form-check-label">
                                        <input class="form-check-input" value="No" type="radio" id ="orderCataloguePlot2" name="Plot" />
                                        Nie
                                    </label>
                               </div> 
                           </div>
                       </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row inner-section-col">
                        <div class="col-xs-12">
                            <p style="margin-bottom:0px;">Czy masz WZ lub MPZP?<span class="color-red">* </span><i aria-hidden="true" class="fa fa-info-circle" data-toggle="tooltip" title="WZ - Warunki Zabudowy, MPZP - Miejscowe Plany Zagospodarowania Przestrzennego" id="info"></i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                               <div class="form-check col-xs-12">
                               <label for="orderCatalogueMPZP1" class="form-check-label">
                                    <input class="form-check-input" value="Yes" type="radio" id="orderCatalogueMPZP1" name="MPZP" required="required" />
                                    Tak
                               </label>                                         
                               </div>
                           </div>
                           <div class="row">
                               <div class="form-check col-sm-3 col-xs-12">
                                <label for="orderCatalogueMPZP2" class="form-check-label">
                                    <input class="form-check-input" value="No" type="radio" id ="orderCatalogueMPZP2" name="MPZP" />
                                    Nie
                                </label>
                               </div> 
                           </div>
                       </div>
                    </div>
                </div>
            </div>                              
        <div class="row section-col">  
            <div class="col-xs-12 col-sm-6">
                <div class="row inner-section-col">
                    <div class="col-xs-12">
                            <p style="margin-bottom:4px;">Kiedy planujesz rozpocząć budowę domu?<span class="color-red">*</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <select class="form-control" id="orderCatalogueBuild" maxlength="80" name="hasPlot" required="required">
                            <option></option>
                            <option value="do 6 miesięcy">do 6 miesięcy</option>
                            <option value="od 6 do 12 miesięcy">od 6 do 12 miesięcy</option>
                            <option value="od 12 do 24 miesięcy">od 12 do 24 miesięcy</option>
                            <option value="powyżej 24 miesięcy">powyżej 24 miesięcy</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row inner-section-col">
                    <div class="col-xs-12">                                    
                        <p style="margin-bottom:0px">Czy posiadasz już naszą aplikację mobilną?<span class="color-red">*</span></p>
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                               <div class="form-check col-xs-12">
                                    <label for="orderCatalogueApp1" class="form-check-label">      
                                         <input value="Yes" type="radio" id="orderCatalogueApp1" name="App" required="required" />
                                         Tak
                                    </label>                                         
                               </div>
                           </div>
                           <div class="row">
                               <div class="form-check col-xs-12">
                                   <label for="orderCatalogueApp2" class="form-check-label" data-toggle="popover" data-content="<a href='{!$Page.LandingExtradomApp}'>Zamów aplikację mobilną >></a>" id="appLabel2">
                                        <input value="No" type="radio" id ="orderCatalogueApp2" name="App" />
                                        Nie
                                   </label>
                               </div> 
                           </div>
                       </div>
                 </div>    
            </div>
        </div>
               
<ul class="list-unstyled" style="font-size:12px;">
<li class="checkbox">
    <label><input checked="checked" id="orderCatalogueOptInRegulations" name="optInRegulations" required="required" type="checkbox" />
                                                Akceptuję Regulamin Serwisu Extradom.pl.<span class="color-red">*</span>
                                            </label>
</li>

<li class="checkbox">
    <label><input checked="checked" id="orderCatalogueOptIn" name="optIn" required="required" type="checkbox" />
                                                Wyrażam zgodę na otrzymywanie od Serwisu Extradom.pl drogą elektroniczną informacji o ofercie, promocjach i rabatach, zarówno dotyczących usług świadczonych przez Extradom, jak i związanych z nimi usług świadczonych przez podmioty trzecie.<span class="color-red">*</span>
                                            </label>
</li>

</ul>

<p style="margin-top:20px;margin-bottom:20px;"><button class="btn btn-lg btn-fit btn-success" id="orderCatalogueButton" type="submit"><span class="fa fa-info-circle" id="orderCatalogueStatus"></span>&nbsp; <span id="orderCatalogueDesc">Zamawiam bezpłatnie</span></button>
<span class="color-red note-text center-text" id="orderCatalogueErrors"></span>
</p>

<p class="text-justify note-text grey-text">
    Administratorem danych osobowych jest Extradom.pl Sp. z o.o. z siedzibą przy ul. Mikołowskiej 84, 51-511 Wrocław. Dane nie
    będą udostępniane podmiotom innym, niż upoważnione na podstawie przepisów prawa lub objęte zgodą użytkownika. Podanie
    danych jest dobrowolne, ale konieczne dla obsługi i realizacji złożonego przeze mnie zamówienia. Dane mogą być również
    wykorzystywane do marketingu usług własnych Administratora. Mam prawo wglądu i poprawiania swoich danych osobowych oraz
    prawo cofnięcia zgody na przetwarzanie moich danych osobowych w każdym czasie.
</p>



</form>

                       </div>
                
            </div>
              
        </section>
        
        <c:ExtradomFooter />
        <c:Gemius role="Podstrony"/>
        
        <script>
        $('#info').tooltip(options)
        </script>
        
        
        <script>
        $(document).ready(function() {
        $('input[name="Plot"]').click(function() {
            if (this.value == 'Yes') {
                $("[id=plotLabel1]").popover({
                placement: "right",
                html: true
            });
            }            
        });
        });
        
                $(document).ready(function() {
        $('input[id=plotLabel1]').click(function() {
            if (this.value == 'Yes') {
                $("[id=plotLabel1]").popover({
                placement: "right",
                html: true
            });
            }            
        });
        });

        $(document).ready(function() {
        $('input[name="App"]').click(function() {
            if (this.value == 'No') {
                $("[id=appLabel2]").popover({
                placement: "right",               
                html: true
            });
            }            
        });
        });               
        
        
        $(document).ready(function() {
        $('input[id="appLabel2"]').click(function() {
            if (this.value == 'No') {
                $("[id=appLabel2]").popover({
                placement: "right",               
                html: true
            });
            }            
        });
        }); 
        </script>
        <script type="text/javascript">
        $("#orderCatalogueForm").on('submit', function(e) {
            $("#orderCatalogueButton").addClass('disabled');
            $("#orderCatalogueStatus").removeClass('fa-info-circle');
            $("#orderCatalogueStatus").addClass('fa-circle-o-notch fa-spin');
            $("#orderCatalogueErrors").text('');
            $("#orderCatalogueEmail").attr('disabled','disabled');
            $("#orderCataloguePhone").attr('disabled','disabled');
            $("#orderCatalogueFirstName").attr('disabled','disabled');
            $("#orderCatalogueLastName").attr('disabled','disabled');
            $("#orderCatalogueStreetName").attr('disabled','disabled');
            $("#orderCatalogueStreetNo").attr('disabled','disabled');
            $("#orderCatalogueStreetFlat").attr('disabled','disabled');
            $("#orderCataloguePostalCodePart1").attr('disabled','disabled');
            $("#orderCataloguePostalCodePart2").attr('disabled','disabled');
            $("#orderCatalogueCity").attr('disabled','disabled');
            $("#orderCatalogueOptIn").attr('disabled','disabled');
            $("#orderCatalogueOptInRegulations").attr('disabled','disabled');
            $("#orderCatalogueApp1").attr('disabled','disabled');
            $("#orderCatalogueApp2").attr('disabled','disabled');
            $("#orderCataloguePlot2").attr('disabled','disabled');
            $("#orderCataloguePlot1").attr('disabled','disabled');
            $("#orderCatalogueMPZP2").attr('disabled','disabled');
            $("#orderCatalogueMPZP1").attr('disabled','disabled');
            $("#orderCatalogueBuild").attr('disabled','disabled');
            $.ajax({
                url: '/services/apexrest/catalogueorder',
                type : "POST",
                dataType : 'json',
                contentType : 'application/json',
                data : JSON.stringify({
                    "email": $('#orderCatalogueEmail').val(), 
                    "phone": $('#orderCataloguePhone').val(),
                    "firstName": $("#orderCatalogueFirstName").val(),
                    "lastName": $("#orderCatalogueLastName").val(),
                    "streetName": $("#orderCatalogueStreetName").val(),
                    "streetNo": $("#orderCatalogueStreetNo").val(),
                    "streetFlat": $("#orderCatalogueStreetFlat").val(),
                    "postalCode": $("#orderCataloguePostalCodePart1").val()+'-'+$("#orderCataloguePostalCodePart2").val(),
                    "city": $("#orderCatalogueCity").val(),
                    "optInRegulations": $('#orderCatalogueOptInRegulations').is(':checked'),
                    "optIn": $('#orderCatalogueOptIn').is(':checked'),
                    "gclid":$('#orderCatalogueGclid').val(),
                    "hasPlot":$('input[name="Plot"]:checked').val(),                  
                    "hasMpzp":$('input[name="MPZP"]:checked').val(),
                    "constructionPlan":$('#orderCatalogueBuild').val(),
                    "hasApp":$('input[name="App"]:checked').val()
                }),
                success : function(result) {
                    console.log(result);
                    olark('api.visitor.updateEmailAddress', {
                        emailAddress: $('#orderCatalogueEmail').val()
                    });
                    olark('api.visitor.updatePhoneNumber', {
                        phoneNumber: $('#orderCataloguePhone').val()
                    });
                    _etmc.push(["setUserInfo", {"email" : $("#orderCatalogueEmail").val()}]);
                    _etmc.push(["trackPageView"]);
                    $("#orderCatalogueStatus").removeClass('fa-circle-o-notch fa-spin');
                    $("#orderCatalogueStatus").addClass('fa-check');
                    $("#orderCatalogueDesc").text('Zamówienie przyjęte');
                    $("#orderCatalogueForm").addClass("hidden");
                    $("#orderCatalogueSuccess").removeClass("hidden").hide().fadeIn();
                },
                error: function(xhr, resp, text) {
                    console.log(xhr, resp, text);
                    $("#orderCatalogueButton").removeClass('disabled');
                    $("#orderCatalogueStatus").removeClass('fa-circle-o-notch fa-spin');
                    $("#orderCatalogueStatus").addClass('fa-info-circle');
                    $("#orderCatalogueEmail").removeAttr("disabled");
                    $("#orderCataloguePhone").removeAttr("disabled");
                    $("#orderCatalogueFirstName").removeAttr("disabled");
                    $("#orderCatalogueLastName").removeAttr("disabled");
                    $("#orderCatalogueStreetName").removeAttr("disabled");
                    $("#orderCatalogueStreetNo").removeAttr("disabled");
                    $("#orderCatalogueStreetFlat").removeAttr("disabled");
                    $("#orderCataloguePostalCodePart1").removeAttr("disabled");
                    $("#orderCataloguePostalCodePart2").removeAttr("disabled");
                    $("#orderCatalogueCity").removeAttr("disabled");
                    $("#orderCataloguesOptIn").removeAttr("disabled");
                    $("#orderCatalogueOptInRegulations").removeAttr("disabled");
                    $("#orderCatalogueApp1").removeAttr("disabled");
                    $("#orderCatalogueApp2").removeAttr("disabled");
                    $("#orderCataloguePlot2").removeAttr("disabled");
                    $("#orderCataloguePlot1").removeAttr("disabled");
                    $("#orderCatalogueMPZP2").removeAttr("disabled");
                    $("#orderCatalogueMPZP1").removeAttr("disabled");
                    $("#orderCatalogueBuild").removeAttr("disabled");
                    $("#orderCatalogueErrors").text('Nie udało nam się przetworzyć Twojego zamówienia. Spróbuj ponownie');
                }
            });
            e.preventDefault();
        });
        function readCookie(name) {
  var n = name + "="; 
  var cookie = document.cookie.split(';'); 
  for(var i=0;i < cookie.length;i++) {      
      var c = cookie[i];      
      while (c.charAt(0)==' '){c = c.substring(1,c.length);}      
      if (c.indexOf(n) == 0){return c.substring(n.length,c.length);} 
  }
  return null; 
  }
  $('#orderCatalogueGclid').val(readCookie('gclid')); 
  </script>
        
    </body>
    
</html>

</apex:page>