<apex:page docType="html-5.0" cache="true" expires="300" applyBodyTag="false" applyHtmlTag="false" showHeader="false" standardStylesheets="false">
<html>
    <head>
        
    </head>

    <body lang="pl">
    
        {!NOW()} - Cache 5 minutes (s-maxage=300)
        
    </body>
    
</html>

</apex:page>