<apex:page docType="html-5.0" applyBodyTag="false" applyHtmlTag="false" showHeader="false" standardStylesheets="false" standardController="Construction__c" extensions="ConstructionViewExtension,FeedExtension,FollowExtension">
<html>
    <head>
    
        <title>{!Construction__c.Name} - EXTRADOM</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="{!URLFOR($Resource.Resources, 'css/bootstrap.min.css')}" rel="stylesheet" />
        <link href="{!URLFOR($Resource.Resources, 'css/font-awesome.min.css')}" rel="stylesheet" />
        <link href="{!URLFOR($Resource.Resources, 'css/style.css')}" rel="stylesheet" />
        
        <script type="text/javascript">
        function postCommentToFeedElement(target) {
            $elementId = jQuery(target).data('elementid');
            $textArea = jQuery(target).parent().parent().find('textarea')[0];
            
            $("[data-role='"+$elementId+"-newCommentButton']").addClass('disabled');
            $("[data-role='"+$elementId+"-newCommentStatus']").removeClass('fa-share');
            $("[data-role='"+$elementId+"-newCommentStatus']").addClass('fa-circle-o-notch fa-spin');
            
            $("[data-role='"+$elementId+"-newCommentText']").prop('disabled', true);
            
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FeedExtension.postCommentToFeedElement}', $elementId, $($textArea).val(), function(result, event) {
                    if (event.status) {
                        console.log(result);
                        Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FeedExtension.postCommentToFeedElementContent}', result.id, function(result, event) {
                                if (event.status) {
                                    console.log(result);
                                    $("[data-role='"+$elementId+"-comments']").each(function() {
                                        $(result).hide().appendTo($(this)).fadeIn();
                                    });
                                    $("[data-role='"+$elementId+"-newCommentButton']").removeClass('disabled');
                                    $("[data-role='"+$elementId+"-newCommentStatus']").removeClass('fa-circle-o-notch fa-spin');
                                    $("[data-role='"+$elementId+"-newCommentStatus']").addClass('fa-share');
                                    $($textArea).val('');
                                    $("[data-role='"+$elementId+"-newCommentText']").prop('disabled', false);
                                } else if (event.type === 'exception') {
                                    console.log(event.message);
                                } else {
                                    console.log(event.message);
                                }
                            },
                        {escape: false}
                    );
                    } else if (event.type === 'exception') {
                        console.log(event.message);
                    } else {
                        console.log(event.message);
                    }
                },
                {escape: true}
            );
        }
        function postUpdate() {
        
            $("#post-update-shareButton").addClass('disabled');
            $("#post-update-shareStatus").removeClass('fa-share');
            $("#post-update-shareStatus").addClass('fa-circle-o-notch fa-spin');
            $("#post-update-text").prop('disabled', true);
            
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FeedExtension.postUpdate}', $('#post-update-shareButton').data('subjectid'), $('#post-update-text').val(), function(result, event) {
                    if (event.status) {
                        console.log(result);
                        Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FeedExtension.getSingleFeedElementViewContent}', result.id, function(result, event) {
                                if (event.status) {
                                    console.log(result);
                                    $(result).hide().prependTo($('#feed')).fadeIn();
                                    $("#post-update-shareButton").removeClass('disabled');
                                    $("#post-update-shareStatus").removeClass('fa-circle-o-notch fa-spin');
                                    $("#post-update-shareStatus").addClass('fa-share');
                                    $("#post-update-text").val('');
                                    $("#post-update-text").prop('disabled', false);
                                } else if (event.type === 'exception') {
                                    console.log(event.message);
                                } else {
                                    console.log(event.message);
                                }
                            },
                        {escape: false}
                    );
                    } else if (event.type === 'exception') {
                        console.log(event.message);
                    } else {
                        console.log(event.message);
                    }
                },
                {escape: true}
            );
        }
        function likeFeedElement(target) {
            $elementId = jQuery(target).data('elementid');
            
            $("[data-role='"+$elementId+"-likeButton']").addClass('disabled');
            $("[data-role='"+$elementId+"-status']").removeClass('fa-thumbs-o-up');
            $("[data-role='"+$elementId+"-status']").addClass('fa-circle-o-notch fa-spin');
            
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FeedExtension.likeFeedElement}', $elementId, function(result, event) {
                    if (event.status) {
                        console.log(result);
                        $("[data-role='"+$elementId+"-likes']").each(function() { $(this).text($(this).data('liked-count')); });
                        $("[data-role='"+$elementId+"-mylike']").removeClass('hidden');
                        $("[data-role='"+$elementId+"-mylike']").removeClass('disabled');
                        $("[data-role='"+$elementId+"-mylike']").attr('data-mylikeid', result.id);
                        $("[data-role='"+$elementId+"-status']").removeClass('fa-circle-o-notch fa-spin');
                        $("[data-role='"+$elementId+"-status']").addClass('fa-thumbs-up');
                        $("[data-role='"+$elementId+"-likesmessage-notliked']").addClass('hidden');
                        $("[data-role='"+$elementId+"-likesmessage-liked']").removeClass('hidden');
                        $("[data-role='"+$elementId+"-likesmessage-liked']").hide().fadeIn();
                    } else if (event.type === 'exception') {
                        console.log(event.message);
                    } else {
                        console.log(event.message);
                    }
                },
                {escape: true}
            );
        }
        function unlikeFeedElement(target) {
            $elementId = jQuery(target).data('elementid');
            
            $("[data-role='"+$elementId+"-mylike']").addClass('disabled');
            $("[data-role='"+$elementId+"-status']").removeClass('fa-thumbs-up');
            $("[data-role='"+$elementId+"-status']").addClass('fa-circle-o-notch fa-spin');
            
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FeedExtension.unlikeFeedElement}', jQuery(target).data('mylikeid'), function(result, event) {
                    if (event.status) {
                        console.log(result);
                        $("[data-role='"+$elementId+"-likes']").each(function() { $(this).text($(this).data('notliked-count')); });
                        $("[data-role='"+$elementId+"-mylike']").addClass('hidden');
                        $("[data-role='"+$elementId+"-likeButton']").removeClass('disabled');
                        $("[data-role='"+$elementId+"-status']").removeClass('fa-circle-o-notch fa-spin');
                        $("[data-role='"+$elementId+"-status']").addClass('fa-thumbs-o-up');
                        $("[data-role='"+$elementId+"-likesmessage-liked']").addClass('hidden');
                        $("[data-role='"+$elementId+"-likesmessage-notliked']").removeClass('hidden');
                        $("[data-role='"+$elementId+"-likesmessage-notliked']").hide().fadeIn();
                    } else if (event.type === 'exception') {
                        console.log(event.message);
                    } else {
                        console.log(event.message);
                    }
                },
                {escape: true}
            );
        }
        function likeComment(target) {
            $commentId = jQuery(target).data('commentid');
            
            $("[data-role='"+$commentId+"-likeButton']").addClass('disabled');
            $("[data-role='"+$commentId+"-status']").removeClass('fa-thumbs-o-up');
            $("[data-role='"+$commentId+"-status']").addClass('fa-circle-o-notch fa-spin');
            
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FeedExtension.likeComment}', $commentId, function(result, event) {
                    if (event.status) {
                        console.log(result);
                        $("[data-role='"+$commentId+"-likes']").each(function() { $(this).text($(this).data('liked-count')); });
                        $("[data-role='"+$commentId+"-mylike']").removeClass('hidden');
                        $("[data-role='"+$commentId+"-mylike']").removeClass('disabled');
                        $("[data-role='"+$commentId+"-mylike']").attr('data-mylikeid', result.id);
                        $("[data-role='"+$commentId+"-status']").removeClass('fa-circle-o-notch fa-spin');
                        $("[data-role='"+$commentId+"-status']").addClass('fa-thumbs-up');
                        $("[data-role='"+$commentId+"-likesmessage-notliked']").addClass('hidden');
                        $("[data-role='"+$commentId+"-likesmessage-liked']").removeClass('hidden');
                        $("[data-role='"+$commentId+"-likesmessage-liked']").hide().fadeIn();
                    } else if (event.type === 'exception') {
                        console.log(event.message);
                    } else {
                        console.log(event.message);
                    }
                },
                {escape: true}
            );
        }
        function unlikeComment(target) {
            $commentId = jQuery(target).data('commentid');
            $myLikeId = jQuery(target).data('mylikeid');
            
            $("[data-role='"+$commentId+"-mylike']").addClass('disabled');
            $("[data-role='"+$commentId+"-status']").removeClass('fa-thumbs-up');
            $("[data-role='"+$commentId+"-status']").addClass('fa-circle-o-notch fa-spin');
            
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FeedExtension.unlikeComment}', $myLikeId, function(result, event) {
                    if (event.status) {
                        console.log(result);
                        $("[data-role='"+$commentId +"-likes']").each(function() { $(this).text($(this).data('notliked-count')); });
                        $("[data-role='"+$commentId +"-mylike']").addClass('hidden');
                        $("[data-role='"+$commentId +"-likeButton']").removeClass('disabled');
                        $("[data-role='"+$commentId +"-status']").removeClass('fa-circle-o-notch fa-spin');
                        $("[data-role='"+$commentId +"-status']").addClass('fa-thumbs-o-up');
                        $("[data-role='"+$commentId +"-likesmessage-liked']").addClass('hidden');
                        $("[data-role='"+$commentId +"-likesmessage-notliked']").removeClass('hidden');
                        $("[data-role='"+$commentId +"-likesmessage-notliked']").hide().fadeIn();
                    } else if (event.type === 'exception') {
                        console.log(event.message);
                    } else {
                        console.log(event.message);
                    }
                },
                {escape: true}
            );
        }
        </script>
        
    </head>

    <body lang="pl">
    
        <c:Nav />
        
        <section class="container">
        
            <div style="margin-bottom:20px;margin-top:8px;">
                <h1 style="margin-top:0;">{!Construction__c.Name}</h1>
            </div>
        
            <div class="row">

                <!-- filter list -->
                <section class="col-xs-12 col-md-9 col-lg-2" style="padding-bottom:16px;">
                
                    <div class="row">
                        <div class="col-xs-12 col-lg-11">
                            <div class="row">
                                <div class="col-xs-4 col-lg-12">
                                    <p><img src="/img/icon/custom51_100/handsaw64.png" class="img-responsive" alt="ikona piła" /></p>
                                </div>
                                <div class="col-xs-8 col-lg-12">
                                    <div class="row" style="padding-left:8px;padding-right:8px;">
                                        <div class="col-xs-12" style="padding-top:8px;padding-left:0;padding-right:0;">
                                            <h3 style="margin-top:0;">Właściciel</h3>
                                            <ul class="list-unstyled" style="padding-left:0;padding-right:0;">
                                                <li><a class="thumb-user" href="{!URLFOR($Page.ProfileView,null,[id=Construction__c.Owner.id])}">
                                                    <img src="/profilephoto/729b0000000Izsk/T" alt=""/>
                                                    <div><span>{!Construction__c.Owner.Name}</span></div>
                                                </a></li>
                                            </ul>
                                            <h3>Budowany projekt</h3>
                                            <ul class="list-unstyled" style="padding-left:0;padding-right:0;">
                                                <li><a href="{!URLFOR($Page.DesignSocialView,null,[id=Construction__c.Design__r.id])}">{!Construction__c.Design__r.Name}</a></li>
                                            </ul>
                                            <h3>Etap budowy</h3>
                                            <ul class="list-unstyled" style="padding-left:0;padding-right:0;">
                                                <li>{!Construction__c.Stage__c}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </section>
                
                <!-- content -->
                <section id="content" class="col-xs-12 col-md-9 col-lg-7">
                
                    <div class="btn-group" style="margin-top:0;">
                                                <div class="btn-group btn-group-sm" role="group"><button type="button" class="btn btn-default">Start budowy</button></div>
                                                <div class="btn-group btn-group-sm" role="group"><button type="button" class="btn btn-default">Stan zero</button></div>
                                                <div class="btn-group btn-group-sm" role="group"><button type="button" class="btn btn-default">Stan surowy otwarty</button></div>
                                                <div class="btn-group btn-group-sm" role="group"><button type="button" class="btn btn-default">Stan surowy zamknięty</button></div>
                                                <div class="btn-group btn-group-sm" role="group"><button type="button" class="btn btn-default">Stan deweloperski</button></div>
                                                <div class="btn-group btn-group-sm" role="group"><button type="button" class="btn btn-default">Ukończona budowa</button></div>
                                            </div>
                
                    <h2>Historia zmian</h2>
                    
                    <div class="row" id="feed" data-role="feed">
                        <c:FeedElements feedElementPage="{!FeedElementPage}" />
                    </div>

                </section>
                <!-- /.content -->
                
            </div>
        </section>
        
        <c:ExtradomFooter />
        <c:Gemius role="Społeczność"/>
        
        <script src="{!URLFOR($Resource.Resources, 'js/jquery.min.js')}"></script>
        <script src="{!URLFOR($Resource.Resources, 'js/bootstrap.min.js')}"></script>
        <script src="{!URLFOR($Resource.Resources, 'js/jquery.plugin.min.js')}"></script>
        
                        <script>
                        $.getScript('{!URLFOR($Resource.Resources, 'js/jquery.lazyload.min.js')}',function() {
                            $('.lazy-load').lazyload({ effect : "fadeIn" , threshold : 300 });
                            $('.modal').one('shown.bs.modal', function (e) {
                                $('.lazy-load-modal', e.target).lazyload({ effect : "fadeIn" });
                            })
                            $('[data-toggle=popover]').popover();
                        });
                        </script>
        
    </body>
    
</html>

</apex:page>