<apex:page id="page" cache="true" expires="900" applyBodyTag="false" applyHtmlTag="false" controller="DesignOrderCreationController" showHeader="false" standardStylesheets="false">
<html>
    <head>
        <title>Zamówienie projektu | extradom</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <c:css />

        <style>
.mirror {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
label.form-control-label {
    padding: 7px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
label.form-control-label>small {
    color:#777;
}
.affix {
     position:fixed;
     top: 10px;
     width: 327px;
}

.affleft .affix {
     width: 223px;
}

@media (max-width: 1260px) {
    .affix {
     position:relative;
     top: inherit;
     width: inherit;
    }
}

@media (max-width: 700px) {
    .affleft .affix {
     width: 100%;
    }
}

</style>

<!-- Hotjar Tracking Code for www.extradom.pl -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:475330,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    </head>

    <body lang="pl">

        <c:NavStatic partner="{!$CurrentPage.parameters.partner}" />

        <section class="container">
            <div id="orderComplete" class="hidden">
            <div class="row">
                    <h1 style="margin-top:0;margin-bottom:20px;">Potwierdzenie zamówienia projektu</h1>
            </div>            
            
            <div class="row">           
                <apex:pageMessages />
            
                <div class="col-xs-12 col-lg-2" style="margin-bottom:20px;">
                    <div class="row">
                        <div class="col-xs-12 col-lg-11">
                            <div class="row">
                                <div class="col-xs-4 col-lg-12">
                                    <p><img data-role="flippable" class="img-responsive" src="{!Design.Thumbnail_Base_URL__c}/crop%24wh32auto%2cresize%24327-218-2" /></p>
                                </div>
                                <div class="col-xs-8 col-lg-12">
                                        <h3 style="margin-top:0;margin-bottom:0;">{!Design.Full_Name__c}</h3>
                                        <p style="font-size:12px;color:#777;">{!Design.Code__c}</p>
                                        <ul class="list-unstyled fa-ul">
                                            <li><span class="fa-li fa fa-check color-red">&nbsp;</span><span id="designVersion"></span></li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
                <div class="col-xs-12 col-md-8 col-lg-7" style="margin-bottom:20px;">
                    <p style="font-size:16px;">Dziękujemy za złożenie zamówienia na projekt <strong>{!Design.Full_Name__c}</strong><span class="hidden" id="mirrorVersionSpan"> w odbiciu lustrzanym</span>. Potwierdzenie złożenia zamówienia zostało przesłane na podany adres poczty e-mail. Wkrótce skontaktujemy się z Państwem w celu ustalenia dogodnego terminu dostarczenia projektu.</p>
                    <p style="font-size:12px;color:#777;">Dostarczenie projektu następuje przeważnie w terminie 3-5 dni roboczych od potwierdzenia zamówienia przez konsultanta Serwisu Extradom.pl. Maksymalny czas oczekiwania to 14 dni. Stworzenie Projektu domu na podstawie jego Koncepcji może wydłużyć czas realizacji, o czym zostaną Państwo poinformowani telefonicznie. Konsultant Serwisu Extradom.pl uprzedzi o terminie dostarczenia projektu z jednodniowym wyprzedzeniem.</p>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-7" style="margin-bottom:20px;">
                    <a href="#" class="btn btn-default hidden" id="payButton"><span class="fa fa-credit-card color-red"></span>&nbsp; Przejdź do płatności</a>
                </div>                
            </div>
            </div>    
        <form id="orderForm">

            <div class="row">
                <h1 class="color-red">Zamówienie projektu</h1>
            </div>

            <div class="row">

                <div class="col-xs-12 col-md-3 col-lg-2">
                    <div class="row affleft">
                        <div data-spy="affix" data-offset-top="100" class="row affix-top">
                        <div class="col-xs-12 col-md-11">
                            <div class="row">
                                <div class="col-xs-4 col-md-12 section-col">
                                    <img data-role="flippable" class="img-responsive" src="{!Design.Thumbnail_Base_URL__c}/crop%24wh32auto%2cresize%24327-218-2" />
                                </div>
                                <div class="col-xs-8 col-md-12 section-col">
                                        <h2 style="margin-bottom:0;">{!Design.Full_Name__c} <small class="note-text">{!Design.Code__c}</small></h2>
                                        <apex:outputText rendered="{!NOT(ISBLANK(Design.Current_Price__c)) && NOT(ISBLANK(Design.Gross_Price__c))}">
                                            <apex:outputText rendered="{!Design.Current_Price__c<Design.Gross_Price__c}">
                                                <p><s><c:integer value="{!FLOOR(Design.Gross_Price__c)}"/> zł</s> <span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)}"/> zł</span></p>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!Design.Current_Price__c>=Design.Gross_Price__c}">
                                                <p><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)}"/> zł</span></p>
                                            </apex:outputText>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!ISBLANK(Design.Current_Price__c) || ISBLANK(Design.Gross_Price__c)}">
                                            <p><span style="color:#D70300;font-weight:bold;">Cena do ustalenia</span></p>
                                        </apex:outputText>

                                        <ul class="list-unstyled">
                                            <li class="radio">
                                                <label>
                                                    <input name="designVersion" value="Basic" type="radio" checked="checked" onchange="changeVersion(this);" />
                                                    Wersja podstawowa
                                                </label>
                                            </li>
                                            <apex:outputText rendered="{!Design.Mirror__c}">
                                            <li class="radio">
                                                <label>
                                                    <input name="designVersion" value="Mirrored" type="radio" onchange="changeVersion(this);" />
                                                    Odbicie lustrzane
                                                </label>
                                            </li>
                                            </apex:outputText>
                                        </ul>

                                </div>
                            </div>
                         </div>

                        </div>
                    </div>
                </div>

                        <!-- content -->
                <apex:outputPanel layout="none" rendered="{!Design.Type__c=='Dom'}">
                <section class="col-xs-12 col-md-9 col-lg-3 pull-right">
                    <div class="row">
                        <div data-spy="affix" data-offset-top="100" class="row affix-top">
                            <div class="col-xs-12 col-lg-11 pull-right section-col">

                                    <h3>Gratis do projektu</h3>
                                    <ul class="list-unstyled fa-ul">
                                        <li><span class="fa-li fa fa-check color-red"></span> Extra dodatki o wartości 3 449 zł</li>
                                        <apex:outputText rendered="{!Design.KW_Model__c}">
                                            <li><span class="fa-li fa fa-check color-red"></span> Kreator wnętrz iDesigner z gotową bryłą Twojego domu w 3D na okres 3 lat</li>
                                        </apex:outputText>  
                                    </ul>

                            </div>
                        </div>
                    </div>
                </section>
                </apex:outputPanel>
                <!-- /.content -->
    
                        <div class="col-xs-12 col-md-9 col-lg-7 section-col">

                                    <h2>Dane do faktury</h2>
                                    <div class="row" style="margin-bottom:4px;">
                                        <div class="col-xs-3">
                                            <label for="billingFirstName" class="form-control-label">Imię</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <input id="billingFirstName" maxlength="40" type="text" required="true" placeholder="Imię" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:4px;">
                                        <div class="col-xs-3">
                                            <label for="billingLastName" class="form-control-label">Nazwisko</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <input id="billingLastName" maxlength="80" type="text" required="true" placeholder="Nazwisko" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px;">
                                            <div class="col-xs-12 col-sm-3">
                                                <label for="billingAddressStreetName" class="form-control-label">Adres</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="row text-center" style="margin-bottom:4px;">
                                                    <div class="col-xs-7 col-sm-8 col-lg-9">
                                                        <input id="billingAddressStreetName" maxlength="80" required="true" type="text" placeholder="Ulica" class="form-control" />
                                                    </div>
                                                    <div class="col-xs-5 col-sm-4 col-lg-3">
                                                        <div class="row">
                                                            <div class="col-xs-5" style="padding-left:0;padding-right:0;">
                                                                <input id="billingAddressStreetNo" maxlength="10" required="true" type="text" placeholder="Nr" class="form-control" style="text-align:center;" />
                                                            </div>
                                                            <div class="col-xs-2" style="padding-left:0;padding-right:0;">
                                                                <label for="billingAddressStreetFlat" class="form-control-label">/</label>
                                                            </div>
                                                            <div class="col-xs-5" style="padding-left:0;">
                                                                <input id="billingAddressStreetFlat" maxlength="10" type="text" placeholder="lok" class="form-control" style="text-align:center;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row text-center" style="margin-bottom:4px;">
                                                    <div class="col-xs-5 col-sm-4 col-lg-3">
                                                        <div class="row">
                                                            <div class="col-xs-5" style="padding-right:0;">
                                                                <input id="billingPostalCodePart1" maxlength="2" required="true" type="text" pattern="[0-9][0-9]" placeholder="__" class="form-control" style="text-align:center;" />
                                                            </div>
                                                            <div class="col-xs-2" style="padding-left:0;padding-right:0;">
                                                                <label class="form-control-label">-</label>
                                                            </div>
                                                            <div class="col-xs-5" style="padding-left:0;padding-right:0;">
                                                                <input id="billingPostalCodePart2" maxlength="3" required="true" type="text" pattern="[0-9][0-9][0-9]" placeholder="___" class="form-control" style="text-align:center;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-7 col-sm-8 col-lg-9">
                                                        <input id="billingCity" maxlength="40" required="true" type="text" placeholder="Miejscowość" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row" style="margin-top:10px;margin-bottom:4px;">
                                        <div class="col-xs-3">
                                            <label for="billingEmail" class="form-control-label">Email</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <input id="billingEmail" maxlength="80" required="true" type="email" placeholder="Email" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:4px;">
                                        <div class="col-xs-3">
                                            <label for="billingPhone" class="form-control-label">Telefon<br/><small>
                                            9 cyfr bez spacji<br/>
                                            np. 601234567</small></label>
                                        </div>
                                        <div class="col-xs-9">
                                            <input id="billingPhone" maxlength="40" required="true" type="tel" pattern="(00(?!48)[1-9][0-9]+)|([1-9][0-9]{8})" placeholder="Telefon" class="form-control" />
                                        </div>
                                    </div>
                                    <h2>Dane firmowe <small class="note-text">(opcjonalnie)</small></h2>
                                    <div class="row" style="margin-bottom:4px;">
                                        <div class="col-xs-3">
                                            <label for="billingCompany" class="form-control-label">Firma</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <input id="billingCompany" maxlength="80" type="text" placeholder="Nazwa firmy" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:4px;">
                                        <div class="col-xs-3">
                                            <label for="billingTaxNumber" class="form-control-label">NIP<br/><small>
                                                10 cyfr bez spacji<br/>
                                                np. 7531234567</small></label>
                                        </div>
                                        <div class="col-xs-9">
                                            <input id="billingTaxNumber" maxlength="10" type="text" pattern="[0-9]{10}" placeholder="NIP" class="form-control" />
                                        </div>
                                    </div>
                                    <h2>Dane dostawy</h2>

                              <div class="row">
                                  <div class="col-xs-9 pull-right">

                                    <ul class="list-unstyled">
                                        <li class="radio">
                                            <label>
                                                <input name="delivery" value="billing" type="radio" checked="checked" onclick="deliveryBilling();" />
                                                Dostawa na podany wyżej adres
                                            </label>
                                        </li>
                                        <li class="radio">
                                            <label>
                                                <input name="delivery" value="other" type="radio" onclick="deliveryOther();" />
                                                Inny adres dostawy
                                            </label>
                                        </li>
                                    </ul>
                                 </div>
                             </div>
                                    <div id="delivery-other-data" class="hidden">
                                        <div class="row" style="margin-bottom:4px;">
                                            <div class="col-xs-3">
                                                <label for="shippingFirstName" class="form-control-label">Imię</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="shippingFirstName" maxlength="40" type="text" placeholder="Imię" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:4px;">
                                            <div class="col-xs-3">
                                                <label for="shippingLastName" class="form-control-label">Nazwisko</label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="shippingLastName" maxlength="80" type="text" placeholder="Nazwisko" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px;">
                                            <div class="col-xs-12 col-sm-3">
                                                <label for="shippingAddressStreetName" class="form-control-label">Adres</label>
                                            </div>
                                            <div class="col-xs-12 col-sm-9">
                                                <div class="row text-center" style="margin-bottom:4px;">
                                                    <div class="col-xs-7 col-sm-8 col-lg-9">
                                                        <input id="shippingAddressStreetName" maxlength="80" type="text" placeholder="Ulica" class="form-control" />
                                                    </div>
                                                    <div class="col-xs-5 col-sm-4 col-lg-3">
                                                        <div class="row">
                                                            <div class="col-xs-5" style="padding-left:0;padding-right:0;">
                                                                <input id="shippingAddressStreetNo" maxlength="10" type="text" placeholder="Nr" class="form-control" style="text-align:center;" />
                                                            </div>
                                                            <div class="col-xs-2" style="padding-left:0;padding-right:0;">
                                                                <label for="shippingAddressStreetFlat" class="form-control-label">/</label>
                                                            </div>
                                                            <div class="col-xs-5" style="padding-left:0;">
                                                                <input id="shippingAddressStreetFlat" maxlength="10" type="text" placeholder="lok" class="form-control" style="text-align:center;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row text-center" style="margin-bottom:4px;">
                                                    <div class="col-xs-5 col-sm-4 col-lg-3">
                                                        <div class="row">
                                                            <div class="col-xs-5" style="padding-right:0;">
                                                                <input id="shippingPostalCodePart1" maxlength="2" type="text" pattern="[0-9][0-9]" placeholder="__" class="form-control" style="text-align:center;" />
                                                            </div>
                                                            <div class="col-xs-2" style="padding-left:0;padding-right:0;">
                                                                <label class="form-control-label">-</label>
                                                            </div>
                                                            <div class="col-xs-5" style="padding-left:0;padding-right:0;">
                                                                <input id="shippingPostalCodePart2" maxlength="3" type="text" pattern="[0-9][0-9][0-9]" placeholder="___" class="form-control" style="text-align:center;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-7 col-sm-8 col-lg-9">
                                                        <input id="shippingCity" type="text" placeholder="Miejscowość" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px;margin-bottom:4px">
                                            <div class="col-xs-3">
                                                <label for="shippingPhone" class="form-control-label">Telefon<br/><small>
                                                9 cyfr bez spacji<br/>
                                                np. 601234567</small></label>
                                            </div>
                                            <div class="col-xs-9">
                                                <input id="shippingPhone" maxlength="40" type="tel" pattern="(00(?!48)[1-9][0-9]+)|([1-9][0-9]{8})" placeholder="Telefon" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <h2>Sposób dostawy</h2>
                                         <div class="row">
                                              <div class="col-xs-9 pull-right section-col">
                                                <div class="btn-group" data-toggle="buttons">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" id="del1" name="order2" value="Regular" /> <label for="del1" style="padding-left:0">Poczta Polska - <span style="color:#D70300;font-weight:bold;">GRATIS</span></label>
                                                        </label> 
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" id="del2" name="order2" value="Express" /> <label for="del2" style="padding-left:0">Kurier DPD</label>
                                                        </label> 
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" id="del3" name="order2" value="Office" /> <label for="del3" style="padding-left:0">Odbiór osobisty</label>
                                                        </label> 
                                                    </div> 
                                               </div>
                                             </div>
                                         </div>

                                      

                                   <h2>Rodzaj płatności</h2>
                                   <div class="row">
                                        <div class="col-xs-9 pull-right section-col">
                                          <div class="btn-group" data-toggle="buttons">
                                              <div class="radio">
                                                  <label>
                                                       <input type="radio" id="pay1" name="payment" value="Prepayment" /> <label for="pay1" style="padding-left:0">przelew zwykły<br/> <small>19 zł &mdash; termin dostawy przez kuriera: 1 dzień roboczy</small></label>
                                                  </label> 
                                              </div>
                                              <div class="radio">
                                                  <label>
                                                       <input type="radio" id="pay2" name="payment" value="Online" /> <label for="pay2" style="padding-left:0">płatności online lub karta kredytowa<br/> <small>19 zł &mdash; termin dostawy przez kuriera: 1 dzień roboczy</small></label>
                                                  </label> 
                                              </div>
                                              <div class="radio">
                                                  <label>
                                                       <input type="radio" id="pay3" name="payment" value="Cash" /> <label for="pay3" style="padding-left:0">pobranie <br/> <small>25 zł &mdash; termin dostawy przez kuriera: 1 dzień roboczy</small></label>
                                                  </label> 
                                              </div> 
                                         </div>
                                       </div>
                                   </div>
                                   <div id="rabatcard" style="display: block;">
                                     <h2>Karta multirabatowa</h2>
                                     <div class="row">
                                          <div class="col-xs-9 pull-right section-col">
                                            Zaoszczędź na budowie, wyposażeniu i wykończeniu swojego domu!<br/>
                                            Zamów imienną kartę uprawniającą do zniżek w ogólnopolskich sklepach stacjonarnych i internetowych m.in.<br/><br/>
                                            <img src="https://static.extradom.pl/home-profit-logos.jpg" style="max-width:484px;" />

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="karta" value="Home Profit Card"/> Zamawiam kartę<br/><small>koszt: <s>219</s> <span class="color-red"><strong>99 zł</strong></span></small>
                                                    <input type="hidden" id="addOns" value="{!addOns}"/>
                                                </label>
                                            </div>
                                         </div>
                                     </div>
                                   </div>
                                   
                             <h2>Pozostałe</h2>

                                    <div class="row" style="margin-bottom:4px;">
                                        <div class="col-xs-3 section-col">
                                            <label for="addOnsDetails" class="form-control-label">Komentarze</label>
                                        </div>
                                        <div class="col-xs-9 section-col">
                                            <textarea id="addOnsDetails" rows="5" maxlength="5000" class="form-control" placeholder="Tutaj wpisz planowane zmiany w projekcie oraz inne komentarze" />
                                        </div>
                                    </div>

                             <div class="row">
                                  <div class="col-xs-9 pull-right">

                                    <ul class="list-unstyled" style="font-size:12px;">
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" id="optInDesignOrderRegulations" required="true" />
                                                Akceptuję <a class="grey-link" target="_blank" href="https://www.extradom.pl/regulamin">Regulamin Serwisu Extradom.pl</a><span class="color-red">*</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" id="optInDesignOrderPrivacyPolicy" required="true" />
                                                Akceptuję <a class="grey-link" target="_blank" href="https://www.extradom.pl/polityka-prywatnosci">Politykę Prywatności</a><span class="color-red">*</span>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" id="optInDesignOrderMarketingExtended" />
                                                <strong>Chcę być informowany o innych produktach oferowanych przez Extradom, które są uzupełnieniem do zakupionego przeze mnie projektu domu</strong>
                                                <span style="display:block;">W związku z tym wyrażam zgodę na [&hellip;] <a class="more-link" data-toggle="collapse" href="#moreDesignOrderOptInMarketingExtended" aria-expanded="false" aria-controls="moreDesignOrderOptInMarketingExtended">więcej</a></span>
                                                <div class="collapse" id="moreDesignOrderOptInMarketingExtended">otrzymywanie informacji handlowych za pośrednictwem telekomunikacyjnych urządzeń końcowych i automatycznych systemów wywołujących, w tym drogą elektroniczną, dotyczących produktów i usług Extradom.pl Sp. z o.o. z siedzibą przy ul. Mikołowskiej 84, 51-511 Wrocław, zgodnie z art. 10 ustawy z dnia o świadczeniu usług drogą elektroniczną (Dz. U. z 18 lipca 202) oraz art. 172 ustawy z dnia 16 lipca 2004 r. – Prawo telekomunikacyjne (Dz. U. z 2017 r. poz. 1907, z późn. zm.).</div>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" id="optInDesignOrderMarketingPartner" />
                                                <strong>Chcę być informowany przez Extradom o aktualnych rabatach i ofertach specjalnych na produkty i usługi do budowy i urządzania domu, dostępnych wyłącznie dla klientów Extradom</strong>
                                                <span style="display:block;">W związku z tym wyrażam zgodę na [&hellip;] <a class="more-link" data-toggle="collapse" href="#moreDesignOrderOptInMarketingPartner" aria-expanded="false" aria-controls="moreDesignOrderOptInMarketingPartner">więcej</a></span>
                                                <div class="collapse" id="moreDesignOrderOptInMarketingPartner">otrzymywanie informacji handlowych za pośrednictwem telekomunikacyjnych urządzeń końcowych i automatycznych systemów wywołujących, w tym drogą elektroniczną, dotyczących produktów i usług do budowy domu oferowanych przez partnerów (<a target="_blank" href="/lista-partnerow">lista partnerów&nbsp;<span class="fa fa-external-link note-text grey-text"></span></a>) Extradom.pl Sp. z o.o. z siedzibą przy ul. Mikołowskiej 84, 51-511 Wrocław, zgodnie z art. 10 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. z 2017 r. poz. 1219, z późn. zm.) oraz art. 172 ustawy z dnia 16 lipca 2004 r. – Prawo telekomunikacyjne (Dz. U. z 2017 r. poz. 1907, z późn. zm.).</div>
                                            </label>
                                        </li>
                                        <li class="checkbox">
                                            <label>
                                                <input type="checkbox" id="optInDesignOrderLeadForward" />
                                                <strong>Chcę otrzymywać rabaty i oferty specjalne na produkty i usługi do budowy i urządzania domu od Partnerów Extradom</strong>
                                                <span style="display:block;">W związku z tym wyrażam zgodę na [&hellip;] <a class="more-link" data-toggle="collapse" href="#moreDesignOrderOptInLeadForward" aria-expanded="false" aria-controls="moreDesignOrderOptInLeadForward">więcej</a></span>
                                                <div class="collapse" id="moreDesignOrderOptInLeadForward">przetwarzanie moich danych osobowych podanych w formularzu zamówienia poprzez udostępnienie ich partnerom (<a target="_blank" href="/lista-partnerow">lista partnerów&nbsp;<span class="fa fa-external-link note-text grey-text"></span></a>) Extradom.pl Sp. z  o. o. reprezentującym branżę budowlaną i finansową, w celu umożliwienia tym podmiotom przedstawienia mi promocyjnych ofert na ich produkty lub usługi związane z budową i urządzaniem domu.</div>
                                            </label>
                                        </li>
                                    </ul>
                                    <apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(Design.Current_Price__c)) && NOT(ISBLANK(Design.Gross_Price__c))}">
                                        <div class="row" style="margin-top:20px;">

                                            <ul class="list-unstyled fa-ul" style="margin-bottom:20px;">
                                                <li><span class="fa-li fa fa-check color-red"></span> Zwrot projektu do {!Design.Return_Conditions__c}</li>
                                                <li><span class="fa-li fa fa-check color-red"></span> {!Design.Swap_Conditions__c}</li>
                                                <li><span class="fa-li fa fa-check color-red"></span> Gwarancja najniższej ceny</li>
                                            </ul>
                                                                                     
                                            <div class="col-xs-12">
                                                <p class="pull-left" style="font-size:16px;">Łącznie do zapłaty:</p>
                                                <p data-role="price" id="price-regular-prepayment" class="pull-right" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)}"/> zł</span></p>
                                                <p data-role="price" id="price-regular-prepayment2" class="pull-right" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+99}"/> zł</span></p>
                                                <p data-role="price" id="price-express-prepayment" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+19}"/> zł</span></p>
                                                <p data-role="price" id="price-express-prepayment2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+19+99}"/> zł</span></p>
                                                <p data-role="price" id="price-express-online" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+19}"/> zł</span></p>
                                                <p data-role="price" id="price-express-online2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+19+99}"/> zł</span></p>
                                                <p data-role="price" id="price-express-cash" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+25}"/> zł</span></p>
                                                <p data-role="price" id="price-express-cash2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+25+99}"/> zł</span></p>
                                                <p data-role="price" id="price-office-prepayment" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)}"/> zł</span></p>
                                                <p data-role="price" id="price-office-prepayment2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+99}"/> zł</span></p>
                                                <p data-role="price" id="price-office-online" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)}"/> zł</span></p>
                                                <p data-role="price" id="price-office-online2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+99}"/> zł</span></p>
                                                <p data-role="price" id="price-office-cash" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)}"/> zł</span></p>
                                                <p data-role="price" id="price-office-cash2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;"><c:integer value="{!FLOOR(Design.Current_Price__c)+99}"/> zł</span></p>
                                            </div>
                                        </div>
                                        <p style="margin-bottom:20px;">
                                            <button type="submit" id="orderFormButton" class="btn btn-lg btn-fit btn-success"><span class="fa fa-shopping-cart" id="orderFormStatus"></span>&nbsp; <span id="orderFormDesc">Zamawiam i płacę</span></button>
                                            <span class="color-red note-text center-text" id="orderFormErrors"></span>
                                        </p>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="none" rendered="{!ISBLANK(Design.Current_Price__c) || ISBLANK(Design.Gross_Price__c)}">

                                        <div class="row" style="margin-top:20px;">
                                            <div class="col-xs-12">
                                                <p class="pull-left" style="font-size:16px;">Łącznie do zapłaty:</p>
                                                <p data-role="price" id="price-regular-prepayment" class="pull-right" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-regular-prepayment2" class="pull-right" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-express-prepayment" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-express-prepayment2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-express-online" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-express-online2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-express-cash" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-express-cash2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-office-prepayment" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-office-prepayment2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-office-online" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-office-online2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-office-cash" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                                <p data-role="price" id="price-office-cash2" class="pull-right hidden" style="font-size:16px;"><span style="color:#D70300;font-weight:bold;">do ustalenia</span></p>
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    <div class="note-text grey-text">
                                        <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016&nbsp;r. dalej zwanym „RODO”, informuję, iż:</p>
                                        <ol start="1" style="padding-left: 1.8em; margin-bottom:0;">
                                            <li>Administratorem Państwa danych osobowych jest Extradom.pl Sp. z o. o. z siedzibą we Wrocławiu, przy ul. Mikołowskiej 84, 51-511 Wrocław, tel. 71/715 20 60, e-mail  biuro@extradom.pl. [&hellip;] <a class="more-link" data-toggle="collapse" href="#moreDesignOrderInfo" aria-expanded="false" aria-controls="moreDesignOrderInfo">więcej</a></li>
                                        </ol>
                                        <div class="collapse" id="moreDesignOrderInfo">
                                            <ol start="2" style="padding-left: 1.8em;">
                                                <li>Kontakt z nami możliwy jest także za pośrednictwem Inspektora Ochrony Danych drogą elektroniczną na adres iod@extradom.pl.</li>
                                                <li>Podanie danych osobowych jest dobrowolne, ale niezbędne dla realizacji zamówienia. Podstawą przetwarzania danych osobowych jest art. 6 ust. 1 lit. b RODO.</li>
                                                <li>Jeśli wyraziliście Państwo zgodę na udostępnianie danych partnerom Extradom.pl Sp. z o. o., Państwa dane osobowe będą przetwarzane na podstawie art. 6 ust. 1 lit. a RODO (przesłanka zgody).</li>
                                                <li>Państwa dane osobowe mogą być także przetwarzane w celu marketingu bezpośredniego Extradom.pl Sp. z o. o.  oraz jego partnerów na podstawie art. 6 ust. 1 lit. f RODO (przesłanka prawnie uzasadnionego interesu realizowanego przez administratora danych).</li>
                                                <li>Zgoda może być wycofana w każdym czasie. Wycofanie zgody nie wpływa na legalność przetwarzania Państwa danych osobowych w czasie obowiązywania zgody.</li>
                                                <li>Z prawa do wycofania zgody mogą Państwo skorzystać wysyłając maila na adres iod@extradom.pl.</li>
                                                <li>Dostęp do Państwa danych osobowych mają odbiorcy, którzy dostarczają nam lub pomagają nam utrzymać system teleinformatyczny, w którym prowadzone są konta użytkowników oraz realizowane są zamówienia, którzy przekazują Państwu informacje handlowe i marketingowe, a także świadczą usługi kurierskie. W związku z powyższym istnieje możliwość przekazywania Państwa danych poza obszar Europejskiego Obszaru Gospodarczego, ale dotyczy to państw, w stosunku do których Komisja Europejska stwierdziła odpowiedni poziom ochrony danych osobowych (USA, Kanada), a współpracujący z nami dostawca systemu teleinformatycznego jest uczestnikiem programu „Tarcza Prywatności UE – USA”.</li>
                                                <li>Państwa dane osobowe będą przechowywane przez okres 5 lat od realizacji zamówienia, a w przypadku przetwarzania opartego na Państwa zgodzie – do chwili jej cofnięcia lub ustania celu, dla którego została zebrana.</li>
                                                <li>Mają Państwo prawo do:
                                                    <ol style="list-style-type: lower-alpha; padding-left: 1.8em;">
                                                        <li>dostępu do swoich danych osobowych (czyli sprawdzenia, jakie dane są przez nas przetwarzane),</li>
                                                        <li>sprostowania danych osobowych (w sytuacji, gdyby okazało się, że są nieprawidłowe),</li>
                                                        <li>uzupełnienia danych osobowych (w sytuacji, gdyby okazało się, że są niekompletne),</li>
                                                        <li>przenoszenia danych osobowych (czyli przekazania Państwa danych osobowych w ustrukturyzowanym, powszechnie używanym formacie nadającym się do odczytu maszynowego np. txt., pdf., odt., doc., rtf., jpeg., XML, JSON, CSV),</li>
                                                        <li>żądania ograniczenia przetwarzania danych osobowych (będziemy wówczas mogli jedynie przechowywać Państwa dane osobowe),</li>
                                                        <li>usunięcia danych osobowych.</li>
                                                    </ol></li>
                                                    <li>W każdej chwili przysługuje Państwu prawo wniesienia sprzeciwu wobec przetwarzania danych osobowych w celu marketingu bezpośredniego.</li>
                                                    <li>Z praw, o których mowa w pkt 10 i 11, można skorzystać wysyłając maila na adres iod@extradom.pl.</li>
                                                    <li>W związku z przetwarzaniem przez nas Państwa danych osobowych przysługuje Państwu prawo wniesienia skargi do organu nadzorczego. Organem tym jest obecnie Generalny Inspektor Danych Osobowych* (https://giodo.gov.pl/pl/493).</li>
                                                    <li>W oparciu o dane osobowe nie będziemy podejmowali wobec Państwa zautomatyzowanych decyzji, w tym decyzji będących wynikiem profilowania.</li>
                                            </ol>
                                            <p>*Prezes Urzędu Ochrony Danych Osobowych po wejściu w życie ustawy o ochronie danych osobowych.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>

        </form>
        </section>

        <c:ExtradomFooter />
        <script type="text/javascript">
           _etmc.push(["trackCart", {"cart" : [{ "item" : "{!Design.Code__c}", "quantity" : "1", "price" : "{!Design.Current_Price__c}" }] } ]);  
        </script>
        <c:Gemius role="Podstrony"/>
        
<script type="text/javascript">
var google_tag_params = {
ecomm_prodid: '{!Design.Code__c}',
ecomm_pagetype: 'cart',
ecomm_totalvalue: {!Design.Current_Price__c},
};
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1070800927;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1070800927/?value=1&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

        <!-- 228081 
        https://ssl.dotpay.pl/test_payment/?id=707019&currency=PLN&p_email=biuro@extradom.pl&type=4
        &amount=12.42
        &description=Zap%C5%82ata%20za%20faktur%C4%99%20VAT%2012345/2014
        &url=https://extradom.pl
        -->

        <script>
        document.getElementById("optInDesignOrderRegulations").setAttribute('required','required');
        document.getElementById("optInDesignOrderPrivacyPolicy").setAttribute('required','required');
        </script>

            <script type="text/javascript">
            function changeVersion(target) {
                switch (jQuery(target).val()) {
                    case 'Basic':
                        $("[data-role='flippable']").removeClass('mirror').hide().fadeIn();
                        break;
                    case 'Mirrored':
                        $("[data-role='flippable']").addClass('mirror').hide().fadeIn();
                        break;
                }
            }
            
        </script>
        <script type="text/javascript">
            function deliveryBilling() {
                $("#delivery-other-data").addClass('hidden');
            }
            function deliveryOther() {
                $("#delivery-other-data").removeClass('hidden').hide().fadeIn();
            }
        </script>

        <script>

        document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
        $("[data-role='price']").addClass('hidden');
        $('input[value=Prepayment]').prop('checked', true); 
        $('input[value=Express]').prop('checked', true);
        $('#karta').prop('checked', false); 
        $('#price-express-prepayment').removeClass('hidden').hide().fadeIn();
        $('input[value=Online]').attr("disabled",false);
        $('input[value=Cash]').attr("disabled",false);
        
        $('input[type=radio][name=payment]').on('change', function(){
                  switch($(this).val()){
                      case 'Prepayment' :
                          $("[data-role='price']").addClass('hidden');                         
                          if($('input[name=order2]:checked').val()=="Regular"){
                              if(document.getElementById('karta').checked) {
                                  document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                                  $("#price-regular-prepayment2").removeClass('hidden').hide().fadeIn();
                              } else {
                                  document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                  $("#price-regular-prepayment").removeClass('hidden').hide().fadeIn();
                              }                              
                              break;
                          }
                          if($('input[name=order2]:checked').val()=="Express"){
                              if(document.getElementById('karta').checked) {
                                  document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                                  $("#price-express-prepayment2").removeClass('hidden').hide().fadeIn();
                              } else {
                                  document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                  $("#price-express-prepayment").removeClass('hidden').hide().fadeIn();
                              }
                              break;
                          }
                          if($('input[name=order2]:checked').val()=="Office"){
                              if(document.getElementById('karta').checked) {
                                  document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                                  $("#price-office-prepayment2").removeClass('hidden').hide().fadeIn();
                              } else {
                                  document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                  $("#price-office-prepayment").removeClass('hidden').hide().fadeIn();
                              }
                              break;
                          }
                          break;
                          
                          
                      case 'Online' :
                            $("[data-role='price']").addClass('hidden');                            
                          if($('input[name=order2]:checked').val()=="Express"){                         
                              if(document.getElementById('karta').checked) {
                                  document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                                  $("#price-express-online2").removeClass('hidden').hide().fadeIn();
                              } else {
                                  document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                  $("#price-express-online").removeClass('hidden').hide().fadeIn();
                              }
                              break;
                          }
                          if($('input[name=order2]:checked').val()=="Office"){
                              if(document.getElementById('karta').checked) {
                                  document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                                  $("#price-office-online2").removeClass('hidden').hide().fadeIn();
                              } else {
                                  document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                  $("#price-office-online").removeClass('hidden').hide().fadeIn();
                              }
                              break;
                          }
                          break;
                      case 'Cash' :
                            $("[data-role='price']").addClass('hidden');
                            document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                          if($('input[name=order2]:checked').val()=="Express"){                             
                              if(document.getElementById('karta').checked) {
                                  document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                                  $("#price-express-cash2").removeClass('hidden').hide().fadeIn();
                              } else {
                                  document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                  $("#price-express-cash").removeClass('hidden').hide().fadeIn();
                              }
                              break;
                          }
                          if($('input[name=order2]:checked').val()=="Office"){
                              if(document.getElementById('karta').checked) {
                                  document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';                              
                                  $("#price-office-cash2").removeClass('hidden').hide().fadeIn();
                              } else {
                                  document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';                              
                                  $("#price-office-cash").removeClass('hidden').hide().fadeIn();    
                              }
                              break;
                          }
                          break;   
                  }            
              });

              $('input[type=radio][name=order2]').on('change', function(){
                        switch($(this).val()){
                            case 'Regular' :
                                  $("[data-role='price']").addClass('hidden');                                  
                                //$('input[type=radio][name=delivery]')
                                $('label[for=pay1]').html('przelew zwykły<br/> <small><span class="color-red"><strong>dostawa gratis</strong></span> &mdash; termin dostawy zależny od Poczty Polskiej</small>');
                                $('label[for=pay2]').html('płatności online lub karta kredytowa');
                                $('label[for=pay3]').html('pobranie');
                                $('input[value=Online]').attr("disabled",true);
                                $('input[value=Cash]').attr("disabled",true);
                                $('input[value=Prepayment]').prop('checked', true); 
                                if(document.getElementById('karta').checked) {
                                    document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                                    $("#price-regular-prepayment2").removeClass('hidden').hide().fadeIn();
                                } else {
                                    document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                    $("#price-regular-prepayment").removeClass('hidden').hide().fadeIn();
                                }                               
                                break;
                            case 'Express' :
                                document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                $("[data-role='price']").addClass('hidden');
                                $('input[value=Prepayment]').prop('checked', true); 
                                if(document.getElementById('karta').checked) {
                                    document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                                    $("#price-express-prepayment2").removeClass('hidden').hide().fadeIn();
                                } else {
                                    document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                    $("#price-express-prepayment").removeClass('hidden').hide().fadeIn();
                                }
                                $('input[value=Online]').attr("disabled",false);
                                $('input[value=Cash]').attr("disabled",false);
                                $('label[for=pay1]').html('przelew zwykły<br/> <small>19 zł &mdash; termin dostawy przez kuriera: 1 dzień roboczy</small>');
                                $('label[for=pay2]').html('płatności online lub karta kredytowa<br/> <small>19 zł &mdash; termin dostawy przez kuriera: 1 dzień roboczy</small>');
                                $('label[for=pay3]').html('pobranie <br/> <small>25 zł &mdash; termin dostawy przez kuriera: 1 dzień roboczy</small>');
                                break;
                            case 'Office' :
                                document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                  $("[data-role='price']").addClass('hidden');
                                if(document.getElementById('karta').checked) {
                                    document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                                    $("#price-office-cash2").removeClass('hidden').hide().fadeIn();
                                } else {
                                    document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                                    $("#price-office-cash").removeClass('hidden').hide().fadeIn();
                                }
                                $('input[value=Prepayment]').prop('checked', true); 
                                $('input[value=Online]').attr("disabled",false);
                                $('input[value=Cash]').attr("disabled",false);
                                $('label[for=pay1]').html('przelew zwykły<br/> <small>0 zł &mdash; Wrocław, ul. Oławska 27-29</small>');
                                $('label[for=pay2]').html('płatności online lub karta kredytowa <br/> <small>0 zł &mdash; Wrocław, ul. Oławska 27-29</small>');
                                $('label[for=pay3]').html('płatność gotówką <br/><small>0 zł &mdash; Wrocław, ul. Oławska 27-29</small>');
                                break;     
                        }            
                    });    

                    $('#karta').change(function() {
                          $("[data-role='price']").addClass('hidden');
                          if($(this).is(":checked")) {
                            document.getElementById("addOns").value='Home Profit Card,{!Design.DefaultAddOns__c}';
                            if($('input[name=order2]:checked').val()=="Regular"){
                                if($('input[name=payment]:checked').val()=="Prepayment") {
                                    $("#price-regular-prepayment2").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                            }
                            if($('input[name=order2]:checked').val()=="Express"){
                                if($('input[name=payment]:checked').val()=="Prepayment") {
                                    $("#price-express-prepayment2").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                                if($('input[name=payment]:checked').val()=="Online") {
                                    $("#price-express-online2").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                                if($('input[name=payment]:checked').val()=="Cash") {
                                    $("#price-express-cash2").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                            }
                            if($('input[name=order2]:checked').val()=="Office"){
                                if($('input[name=payment]:checked').val()=="Prepayment") {
                                    $("#price-office-prepayment2").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                                if($('input[name=payment]:checked').val()=="Online") {
                                    $("#price-office-online2").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                                if($('input[name=payment]:checked').val()=="Cash") {
                                    $("#price-office-cash2").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                            }
                          } else {
                            document.getElementById("addOns").value='{!Design.DefaultAddOns__c}';
                            if($('input[name=order2]:checked').val()=="Regular"){
                                if($('input[name=payment]:checked').val()=="Prepayment") {
                                    $("#price-regular-prepayment").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                            }
                            if($('input[name=order2]:checked').val()=="Express"){
                                if($('input[name=payment]:checked').val()=="Prepayment") {
                                    $("#price-express-prepayment").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                                if($('input[name=payment]:checked').val()=="Online") {
                                    $("#price-express-online").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                                if($('input[name=payment]:checked').val()=="Cash") {
                                    $("#price-express-cash").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                            }
                            if($('input[name=order2]:checked').val()=="Office"){
                                if($('input[name=payment]:checked').val()=="Prepayment") {
                                    $("#price-office-prepayment").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                                if($('input[name=payment]:checked').val()=="Online") {
                                    $("#price-office-online").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                                if($('input[name=payment]:checked').val()=="Cash") {
                                    $("#price-office-cash").removeClass('hidden').hide().fadeIn();
                                    return;
                                }
                            }
                          }
                      });

                      var labelID;

                          $('label').click(function() {
                                 labelID = $(this).attr('for');
                                 console.log("??");
                                 $('#'+labelID).trigger('click');
                          });
                                              
        </script>
        
    <script>
    $(document).ready(function() {
        $("#orderForm").on('submit', function(e) {
            $("#orderFormButton").addClass('disabled');
            $("#orderFormStatus").removeClass('fa-info-circle');
            $("#orderFormStatus").addClass('fa-circle-o-notch fa-spin');
            $("#orderFormErrors").text('');
            
            req = {
                "code": '{!Design.Code__c}',
                "version": $('[name=designVersion]:checked').val(),
                "billingAddress": {
                    "firstName": $('#billingFirstName').val(),
                    "lastName": $('#billingLastName').val(),
                    "streetName": $('#billingAddressStreetName').val(),
                    "streetNumber": $('#billingAddressStreetNo').val(),
                    "streetFlatNumber": $('#billingAddressStreetFlat').val(),
                    "zip": $('#billingPostalCodePart1').val()+'-'+$('#billingPostalCodePart2').val(),
                    "city": $('#billingCity').val(),
                    "phone": $('#billingPhone').val(),
                    "email": $('#billingEmail').val(),
                    "vatNumber": $('#billingTaxNumber').val(),
                    "company": $('#billingCompany').val()
                },
                "shippingAddress": null,
                "paymentMethod": $('[name=payment]:checked').val(),
                "shippingMethod": $('[name=order2]:checked').val(),
                "comments": $('#addOnsDetails').val(),
                "addOns": [],
                "optIns": [
                    {"name": "optInRegulations", "value": $('#optInDesignOrderRegulations').is(':checked')},
                    {"name": "optInPrivacyPolicy", "value": $('#optInDesignOrderPrivacyPolicy').is(':checked')},
                    {"name": "optInMarketingExtended", "value": $('#optInDesignOrderMarketingExtended').is(':checked')},
                    {"name": "optInMarketingPartner", "value": $('#optInDesignOrderMarketingPartner').is(':checked')},
                    {"name": "optInLeadForward", "value": $('#optInDesignOrderLeadForward').is(':checked')}
                ],
                "source": '{!BLANKVALUE($CurrentPage.parameters.partner,'Extradom.pl')}'
            }
            
            addOns = ($('#addOns').val()).split(',');
            addOns.forEach(function(obj) {
                req.addOns.push({"name": obj});
            });
            
            if ($('[name=delivery]:checked').val()=='other') {
                req.shippingAddress = {
                    "firstName": $('#shippingFirstName').val(),
                    "lastName": $('#shippingLastName').val(),
                    "streetName": $('#shippingAddressStreetName').val(),
                    "streetNumber": $('#shippingAddressStreetNo').val(),
                    "streetFlatNumber": $('#shippingAddressStreetFlat').val(),
                    "zip": $('#shippingPostalCodePart1').val()+'-'+$('#shippingPostalCodePart2').val(),
                    "city": $('#shippingCity').val(),
                    "phone": $('#shippingPhone').val()
                }
            } else {
                req.shippingAddress = req.billingAddress;
            }
            
            $.ajax({
                url: '/services/apexrest/app/orders/create',
                type : "POST",
                dataType : 'json',
                contentType : 'application/json',
                data : JSON.stringify(req),
                success : function(result) {
                    console.log(result);
                    $("#orderFormStatus").removeClass('fa-circle-o-notch fa-spin');
                    $("#orderFormStatus").addClass('fa-check');                    
                    $("#orderFormDesc").text('Skontaktujemy się z Tobą wkrótce');
                    if (result.version == 'Mirrored') {
                        $("#designVersion").text("Odbicie lustrzane");
                        $("#mirrorVersionSpan").removeClass("hidden");
                    } else {
                        $("#designVersion").text("Wersja podstawowa");
                    }                   
                    $("#orderComplete").removeClass("hidden");                   
                    $("#orderForm").addClass("hidden");
                    $("#orderFormSuccess").removeClass("hidden").hide().fadeIn();
                    if (result.payUrl != null) {
                        $("#payButton").attr("href", result.payUrl);
                        $("#payButton").removeClass("hidden");
                        window.location = result.payUrl;
                    } else {
                        window.location = "https://www.extradom.pl/DesignOrderViewComplete?code="+result.design.code+"&version="+result.version+"{!IF(ISBLANK($CurrentPage.parameters.partner),'','&partner='&$CurrentPage.parameters.partner)}";
                    }
                },
                error: function(xhr, resp, text) {
                    console.log(xhr, resp, text);
                    $("#orderFormButton").removeClass('disabled');
                    $("#orderFormStatus").removeClass('fa-circle-o-notch fa-spin');
                    $("#orderFormStatus").addClass('fa-shopping-cart');
                    $("#orderFormErrors").text('Nie udało nam się przetworzyć Twojego zapytania. Zadzwoń pod numer 717152060, aby ukończyć zamówienie');
                }
            });
            e.preventDefault();
        });
    });
    </script>

    </body>

</html>

</apex:page>