<apex:page applyBodyTag="false" applyHtmlTag="false" readOnly="true" standardController="Design__c" extensions="DesignViewExtension" showHeader="false" standardStylesheets="true">
<html>
    <head>
        <title>{!Design__c.Full_Design_Type__c} {!Design__c.Full_Name__c} {!SUBSTITUTE(TEXT(Design__c.Usable_Area__c), ".", ",")} m2 | extradom</title>
        <meta name="description" content="{!Design__c.Meta_Description__c}" />
    </head>
    <body>
    <h2>{!Design__c.Full_Design_Type__c} {!Design__c.Full_Name__c} <span style="font-size:85%;font-weight:normal;">{!Design__c.Code__c}</span></h2>
    {!$User.LastName}
    <chatter:feed entityId="{!Design__c.Id}"/>
    <chatter:followers entityId="{!Design__c.Id}"/>
    <chatter:follow entityId="{!Design__c.Id}"/>
    <chatter:userPhotoUpload showOriginalPhoto="false" />
    </body>
</html>
</apex:page>