<apex:page cache="true" expires="86400" docType="html-5.0" applyBodyTag="false" applyHtmlTag="false" showHeader="false" standardStylesheets="false" readOnly="true">
<html>
    <head>
        <title>Mapa strony - EXTRADOM</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <c:css />

        
    </head>

    <body lang="pl">
    
        <c:Nav />
        
        <section class="container">
        
            <div>
                <ul class="list-inline" style="font-size:12px;color:#777;margin-bottom:20px;margin-top:-10px;">
                    <li class="color-red"><a class="no-underline" style="color:inherit;font-weight:900;letter-spacing:-0.75px;" href="{!URLFOR($Page.DesignSearchView)}">ex</a></li>
                    <li><span class="fa fa-angle-right"></span></li><li style="color:#aaa;">Mapa strony</li>
                </ul>
            </div>
            
            <div style="margin-bottom:20px;">
                <h1 style="margin-top:0;">Mapa strony</h1>
                <h2>Katalog projektów</h2>
                <ul class="list-inline">
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='a'])}">A</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='a-2'])}">Ą</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='b'])}">B</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='c'])}">C</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='c-2'])}">Ć</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='d'])}">D</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='e'])}">E</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='e-2'])}">Ę</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='f'])}">F</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='g'])}">G</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='h'])}">H</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='i'])}">I</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='j'])}">J</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='k'])}">K</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='l'])}">L</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='l-2'])}">Ł</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='m'])}">M</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='n'])}">N</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='n-2'])}">Ń</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='o'])}">O</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='o-2'])}">Ó</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='p'])}">P</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='q'])}">Q</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='r'])}">R</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='s'])}">S</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='s-2'])}">Ś</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='t'])}">T</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='u'])}">U</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='v'])}">V</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='w'])}">W</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='x'])}">X</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='y'])}">Y</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='z'])}">Z</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='z-2'])}">Ż</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='z-3'])}">Ź</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewDesign,null,[col='pozostale'])}">pozostałe</a></li>
                </ul>
                <!--<h2>Katalog osób i firm</h2>
                <ul class="list-inline">
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='a'])}">A</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='a-2'])}">Ą</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='b'])}">B</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='c'])}">C</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='c-2'])}">Ć</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='d'])}">D</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='e'])}">E</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='e-2'])}">Ę</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='f'])}">F</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='g'])}">G</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='h'])}">H</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='i'])}">I</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='j'])}">J</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='k'])}">K</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='l'])}">L</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='l-2'])}">Ł</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='n'])}">M</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='n'])}">N</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='n-2'])}">Ń</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='o'])}">O</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='o-2'])}">Ó</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='p'])}">P</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='q'])}">Q</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='r'])}">R</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='s'])}">S</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='s-2'])}">Ś</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='t'])}">T</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='u'])}">U</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='v'])}">V</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='w'])}">W</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='x'])}">X</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='y'])}">Y</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='z'])}">Z</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='z-2'])}">Ż</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='z-3'])}">Ź</a></li>
                    <li><a href="{!URLFOR($Page.DirectoryViewUser,null,[col='pozostale'])}">pozostałe</a></li>
                </ul>-->
            </div>
        </section>
        
        <c:ExtradomFooter />
        <c:Gemius role="Podstrony"/>
        
        
    </body>
    
</html>

</apex:page>