<apex:page cache="true" expires="300" docType="html-5.0" applyBodyTag="false" applyHtmlTag="false" showHeader="false" standardStylesheets="false">

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pobierz darmową aplikację mobilną Extradom projekty domów i szukaj swojego wymarzonego domu wygodnie. Załóż konto i ciesz się pełnią możliwości!
" />
    <!--title-->
    <title>Aplikacja mobilna EXTRADOM projekty domów – EXTRADOM</title>
    
    <!--CSS-->
    <link href="//static.extradom.pl/lp/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//static.extradom.pl/lp/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//static.extradom.pl/lp/css/magnific-popup.css" rel="stylesheet" />
    <link href="//static.extradom.pl/lp/css/owl.carousel.css" rel="stylesheet" />
    <link href="//static.extradom.pl/lp/css/animate.css" rel="stylesheet" />
    <link href="//static.extradom.pl/lp/css/main.css" rel="stylesheet" />
    <link href="//static.extradom.pl/lp/css/responsive.css" rel="stylesheet" />      

    <!--[if lt IE 9]>
        <script src="//static.extradom.pl/lp/js/html5shiv.js"></script>
        <script src="//static.extradom.pl/lp/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="//www.extradom.pl/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//static.extradom.pl/lp/images/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//static.extradom.pl/lp/images/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//static.extradom.pl/lp/images/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="//static.extradom.pl/lp/images/ico/apple-touch-icon-57-precomposed.png" />
    
</head><!--/head-->
<body>
    <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T8KWR4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T8KWR4');</script>
        <!-- End Google Tag Manager -->
    <!-- Page Loader -->
    <div class="preloader">
        <div id="loaderImage"></div>
    </div>   
    <div id="home-section" class="image-bg">
        <div class="container">
            <div class="home-content padding">
                <div class="logo-extradom-wrapper">
                <a href="https://www.extradom.pl/">
                    <img src="//static.extradom.pl/lp/images/logos.png" alt="Extradom projekty domów"  class="logo-extradom img-responsive" />
                    </a>
                </div>
                <h1>
                    Aplikacja mobilna<br /> 
                    EXTRADOM projekty domów
                </h1>
                <h2>
                    Od teraz wymarzonego projektu domu będziesz szukał wygodniej
                </h2>
                <div class="button">
                    <img class="logo-app" src="//static.extradom.pl/lp/images/Ikona54x54.png" alt="Aplikacja mobilna EXTRADOM projekty domów”" />
                    <a href="https://play.google.com/store/apps/details?id=pl.extradom&referrer=utm_source%3Dextradom%26utm_campaign%3Dexd_lp_btn_1" class="">
                        <img class="logo-google-play" src="//static.extradom.pl/lp/images/google-play-badge.png" alt="Pobierz z Google Play aplikację mobilna EXTRADOM projekty domów”" />
                    </a>
                    
                </div>
            </div>
        </div>
    </div><!--/#home-section--> 
    
    <div id="whatsit" class="padding" >
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
                    <img class="img-responsive" src="//static.extradom.pl/lp/images/1.jpg" alt="Aplikacja mobilna EXTRADOM projekty domów - Znajdź wymarzony projekt domu" />
                </div>
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.20s">
                    <div class="whatsit">
                        <h2 style="text-transform: none;">Znajdź wymarzony projekt domu</h2>
                        <p>Pierwszym i najważniejszym krokiem na drodze do posiadania własnego domu jest wybór projektu. Pragniemy, aby proces ten był dla Ciebie przyjemnością, dlatego całą naszą kolekcję przenieśliśmy również na telefon. Skorzystaj ze wszystkich możliwości, które Ci dajemy. Dzięki aplikacji Extradom możesz przeglądać projekty domów w dowolnym miejscu i o wybranej porze, zapisywać swoje ulubione, wybierać filtry, a przede wszystkim bezpośrednio zasięgnąć porady eksperta.
</p>
                    </div>                      
                </div>
            </div>
        </div>
    </div><!--/#whatsit-->
    
    <div id="whatsit" class="padding bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.20s">
                    <div class="whatsit">
                        <h2 style="text-transform: none;">Jedno konto - wiele korzyści</h2>
                        <p>Utwórz nowe konto lub zaloguj się danymi ze Społeczności i ciesz się pełnią możliwości na komputerze i w aplikacji. Dodawaj projekty do ulubionych i zapisuj na swojej extra liście, zapamiętuj wybrane parametry wyszukiwania - filtry i wracaj do nich o dowolnej porze. Dlaczego warto? Konto daje możliwość powrotu do wszystkich zapisanych „extra” na komputerze i na telefonie. Co więcej, na podstawie przeglądanych przez Ciebie kart, aplikacja podpowie, jakie domy mogą Ci się spodobać. </p>
                    </div>                      
                </div>
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
                    <img class="img-responsive" src="//static.extradom.pl/lp/images/2.png" alt="Aplikacja mobilna EXTRADOM projekty domów - Jedno konto - wiele korzyści”" />
                </div>
            </div>
        </div>
    </div><!--/#whatsit-->
    
    <div id="whatsit" class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
                    <img class="img-responsive" src="//static.extradom.pl/lp/images/3.jpg" alt="Aplikacja mobilna EXTRADOM projekty domów - Korzystaj z intuicyjnej wyszukiwarki”" style="margin: 0 auto;" />
                </div>
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.20s">
                    <div class="whatsit">
                        <h2 style="text-transform: none;">Korzystaj z intuicyjnej wyszukiwarki</h2>
                        <p>Szukanie jeszcze nigdy nie było tak łatwe! Zastanów się nad swoim ideałem, sprawdź mpzp, zaznacz odpowiednie filtry i przeglądaj wybrane projekty domów. Pamiętaj, filtry w każdej chwili możesz edytować, a także zapisać, aby wrócić do nich później. Jeżeli wiesz już, jaki projekt domu chciałbyś obejrzeć, wpisz po prostu w wyszukiwarce jego nazwę.
                        </p>
                    </div>                      
                </div>
            </div>
        </div>
    </div><!--/#whatsit-->
    
    <div id="whatsit" class="padding bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.20s">
                    
                    <div class="whatsit">
                        <h2 style="text-transform: none">Zapisuj swoje „extra”</h2>
                        <p>Zapisz swoje ulubione filtry i projekty domów, aby wrócić do nich później. 
                        Kliknij symbol serduszka na projekcie, a pojawi się on na Twojej extra liście. 
                        Zapamiętaj także swoje ulubione filtry klikając flagę w prawym, górnym rogu wyszukiwarki.
                        Wszystkie „extra” filtry i projekty zapisują się na Twoim koncie i możesz do nich wrócić poprzez aplikację, jak i na komputerze. 
                        </p>
                    </div>                      
                </div>
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
                    <img class="img-responsive" src="//static.extradom.pl/lp/images/4.png" alt="Aplikacja mobilna EXTRADOM projekty domów - Zapisuj swoje „extra”" />
                </div>
            </div>
        </div>
    </div><!--/#whatsit-->

    <div id="whatsit" class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
                    <img class="img-responsive" src="//static.extradom.pl/lp/images/5.jpg" alt="Aplikacja mobilna EXTRADOM projekty domów - Porozmawiaj z ekspertem”" />
                </div>
                <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.20s">
                    <div class="whatsit">
                        <h2 style="text-transform: none;">Porozmawiaj z ekspertem</h2>
                        <p>Masz pytania dot. projektu? Chętnie odpowiemy! Skorzystaj z czatu w aplikacji i rozpocznij rozmowę z naszym doradcą. Dowiesz się wszystkiego, na czym Ci zależy i decyzja o budowie wymarzonego domu będzie jeszcze łatwiejsza! Możesz także porozmawiać dzwoniąc z aplikacji. Wystarczy, że przeglądając wybrany projekt bądź kartę kontaktu klikniesz w pole „zadzwoń”.
                        </p>
                    </div>                      
                </div>
            </div>
        </div>
    </div><!--/#whatsit-->
    
    
    
    <div id="testimonial" class="padding bg-grey">
        <div class="container">
            <div class="text-center section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
                <h2>Opinie użytkowników</h2>
            </div>
            
            <div id="testimonial-slider" class="carousel carousel-fade slide" data-ride="carousel">
                <div class="carousel-inner text-center wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
                    <div class="item active">
                        <h3>Mateusz Młodawski</h3>
                        <ul class="list-inline">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p>Świetnie wygląda i bardzo płynnie działa. </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/testimonial-->
    
    <div id="download-apps" class="padding">
        <div class="container text-center">         
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="download-apps wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                        <h2 style="text-transform:none">Pobierz aplikację EXTRADOM projekty domów</h2>
                        <p> </p>
                        <div class="apps wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                            <a href="https://play.google.com/store/apps/details?id=pl.extradom&referrer=utm_source%3Dextradom%26utm_campaign%3Dexd_lp_btn_2"><img src="//static.extradom.pl/lp/images/google-play-badge.png" style="width:200px;" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/download-apps-->
    
    <footer id="footer">
        <div class="overlay-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <p>© Copyright 2017 Extradom - Aplikacja mobilna EXTRADOM projekty domów</p>
                </div>
                <div class="col-sm-5">
                    <ul class="list-inline footer-menu text-right">
                        <li><a href="https://www.extradom.pl/o-nas">O nas</a></li>
                        <li><a href="https://www.extradom.pl/polityka-prywatnosci">Polityka prywatności</a></li>
                        <li><a href="https://www.extradom.pl/mapa-strony">Mapa strony</a></li>
                        <li><a href="https://www.extradom.pl/kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    

    
    <!--/#scripts--> 
    <script type="text/javascript" src="//static.extradom.pl/lp/js/jquery.js"></script>
    <script type="text/javascript" src="//static.extradom.pl/lp/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//static.extradom.pl/lp/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="//static.extradom.pl/lp/js/jquery.nav.js"></script> 
    <script type="text/javascript" src="//static.extradom.pl/lp/js/canvas.js"></script> 
    <script type="text/javascript" src="//static.extradom.pl/lp/js/preloader.js"></script> 
    <script type="text/javascript" src="//static.extradom.pl/lp/js/owl.carousel.min.js"></script> 
    <script type="text/javascript" src="//static.extradom.pl/lp/js/wow.min.js"></script> 
    <script type="text/javascript" src="//static.extradom.pl/lp/js/main.js"></script>
    
    

    
</body>
</html>

</apex:page>