<apex:page standardController="Task" extensions="TaskWithContactControllerExtension">
<apex:pageBlock title="DK Notus" rendered="{!IF(Task.Status=='Completed','true','false')}">
    <form action="https://lp.dknotus.pl/_mail/save.php" method="POST">
        <input type="hidden" name="id_zew" value="{!Task.ID}" />
        <input type="hidden" name="id_pos" value="9456" />
        <input type="hidden" name="id_zrodlo" value="9651" />
        
        <input type="text" name="imie" value="{!Task.Partner_First_Name__c}" /> (Imię)<br />
        <input type="text" name="nazwisko" value="{!Task.Partner_Last_Name__c}" /> (Nazwisko)<br />
        <input type="text" name="kraj" value="48" /> (Kierunkowy, np. 48, 44)<br />
        <input type="text" name="telefon" value="{!Task.Partner_Phone__c}" /> (Telefon bez numeru kierunkowego)<br />
        <input type="text" name="email" value="{!Task.Partner_Email__c}" /> (E-mail)<br />
        <input type="text" name="kod_poczta" value="{!c.Account.Investment_Location__r.NotusID__c}" /> (Notus ID powiatu)<br />
        <input type="text" name="uwagi" value="{!Task.Partner_Comments__c}" /> (Uwagi)<br />
        <button type="submit" id="submit">Przekaż dane</button>
    </form>
    </apex:pageBlock>
</apex:page>