<apex:page docType="html-5.0" cache="true" expires="900" applyBodyTag="false" applyHtmlTag="false" showHeader="false" standardStylesheets="false" controller="ContextUserController">
<html>
    <head>
        <title>Moderacja - EXTRADOM</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Dołącz do najliczniejszej Społeczności budowlanej w Polsce i skorzystaj z doświadczenia 300 tys. Inwestorów. Pytaj, doradzaj, dziel się wiedzą." />

        <c:css />
        <c:AdOcean role="Społeczność"/>
        <c:AdOcean role="Veka"/>
        
    </head>

    <body lang="pl">
    
        <c:Nav />
        
        <section class="container">
        
                <ul class="breadcrumb">
                    <li class="color-red"><a class="no-underline inline-logo" href="{!URLFOR($Page.DesignSearchView)}"></a></li>
                    <li class="active">Moderacja</li>
                </ul>
        
            <div>
                <h1 class="color-red">Moderacja</h1>
            </div>
        
            <div class="row">

                <!-- filter list -->
                <section class="col-xs-12 col-md-9 col-lg-2">
                
                    <div class="row">
                        <div class="col-xs-12 col-lg-11">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                
                </section>
                
                <!-- content -->
                <section class="col-xs-12 col-md-3 pull-right">
                    <div class="row">
                        <div class="col-xs-12 col-md-11 pull-right section-col">
                            <apex:outputText rendered="{!$User.Show_Ads__c}">    
                            <div id="adoceanmyaowojqimsmao" class="adocean hidden-xs hidden-sm" style="display: block;"></div>
                                <script type="text/javascript">
                                    /* (c)AdOcean 2003-2016, cormedia.extradom.pl.Spo_eczno__.300x300 Spo_eczno__ SG */
                                    ado.slave('adoceanmyaowojqimsmao', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                </script>
                            </apex:outputText>                                
                        </div>
                    </div>
                </section>
                <!-- /.content -->
                
                <!-- content -->
                <section id="content" class="col-xs-12 col-md-9 col-lg-7">
                    <h2>Dodane w ostatnich 5 dniach na stronach projektów</h2>
                    <div class="row" id="feed" data-role="feed">
                        <c:FeedElementsFromList rendered="{!LEN($CurrentPage.parameters.q)>0}" feedElements="{!LatestAllNetworksPostsByString}" role="single" />
                        <c:FeedElementsFromList rendered="{!LEN($CurrentPage.parameters.q)=0}" feedElements="{!LatestAllNetworksPosts}" role="single" />
                    </div>
                </section>
                <!-- /.content -->
                
            </div>
        </section>
        
        <c:ExtradomFooter />
        <c:Gemius role="Społeczność"/>
        
        
        
    </body>
    
</html>

</apex:page>