<apex:page cache="true" expires="604800" docType="html-5.0" applyBodyTag="false" applyHtmlTag="false" showHeader="false" standardStylesheets="false" standardController="Page__c">
<html>
    <head>
        <title>{!Page__c.Name} - EXTRADOM</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <c:css />
        
    </head>

    <body lang="pl">
    
        <c:Nav />
        
        <section class="container">
            
                <ul class="breadcrumb">
                    <li class="color-red"><a class="inline-logo no-underline" href="{!URLFOR($Page.DesignSearchView)}"></a></li>
                    <li class="active">{!Page__c.Name}</li>
                </ul>
        
            <div class="row">
                
                <!-- content -->
                <section id="content" class="col-xs-12">                    
                
                    <apex:outputText escape="false" value="{!Page__c.Body__c}"/>
                    {!NOW()}
                
                </section>
                <!-- /.content -->
                
            </div>
        </section>
        
        <c:ExtradomFooter />
        <c:Gemius role="Podstrony"/>
        
    </body>
    
</html>

</apex:page>