<apex:page cache="true" expires="604800" docType="html-5.0" applyBodyTag="false" applyHtmlTag="false" showHeader="false"
    standardStylesheets="false">
    <html>

    <head>
        <title>Zamów prezentację - EXTRADOM</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <c:css />

        
        <style>
            .new-style h4 {
                font-family: Poppins, sans-serif;
                font-size: 18px;
            }

            .xbox label.container {
                border: 2px solid #E7E7E7;
                border-radius: 6px;
                padding: 18px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                width: 100%;
                cursor: pointer;
            }

            .xbox label.container:hover {
                border: 2px solid #D40504;
            }

            .xbox label.container .label-title {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 600;
            }

            @media only screen and (max-width:727px) {
                .xbox label.container p {
                    font-size: 14px;
                }

                .xbox span.checkmark,
                .xbox span.checkmark {
                    left: 20px;
                }

                .xbox label.container img,
                .xbox label.container img {
                    left: 39px;
                }

                .xbox label.container p,
                .xbox label.container p {
                    left: 118px !important;
                }
            }

            .xbox label.container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            .xbox .checkmark {
                display: inline-block;
                height: 17px;
                width: 17px;
                background-color: white;
                border: 1px solid #D2D2D2;
                border-radius: 3px;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .xbox .checkmark:after {
                content: "";
                display: none;
            }

            /* Show the checkmark when checked */
            .xbox label.container input:checked~.checkmark:after {
                display: block;
            }

            /* Style the checkmark/indicator */
            .xbox .container .checkmark:after {
                margin-left: 4px;
                width: 8px;
                height: 13px;
                border: solid #3A98FC;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            .checkbox, .radio {
                margin-bottom: 16px;
            }

            .header-nav {
                margin-bottom: 0;
            }

            @media(min-width: 992px) {
                .presentation-order-view {
                    background-image: url('https://static.extradom.pl/static/presentation-order.jpg');
                    background-position: top center;
                    background-repeat: repeat-y;
                }
            }

            .subpage {
                position: relative;
                padding: 4.3rem 0 0 0;
                font-family: Lato, sans-serif;
                color: #333;
            }
            
            .article {
                margin-bottom:100px;
            }

            .article-title {
                font-family: Poppins, sans-serif;
                font-weight: 600;
                font-size: 3.6rem;
                margin: 0 0 7.3rem;
                line-height: 4.3rem;
                position: relative;
            }

            .article-title::after {
                height: .7rem;
                width: 7.4rem;
                background-color: #cc0301;
                position: absolute;
                bottom: -2.8rem;
                left: .1rem;
                content: '';
            }

            .article-text {
                margin: 0;
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
            
            h4.article-text {
                margin-bottom: 32px;
            }

            .article .article-text_separated-half {
                margin: 0 0 2.4rem;
            }

            .btn .fa {
                margin: 0 0 0 2rem;
            }

            .form__param-col {
                margin-bottom: 60px;
            }
            .form__params-slider {
                max-width: 200px;
            }
            .form__params-slider .sliders {
                margin-bottom: 20px;
            }
            .form__params-row .form__param-header-solo {
                margin-bottom: 10px;
            }
            .form__left-background {
                height:100%;
                width:calc(((100% - 1258px) * 0.5) + 8px);
                position:absolute;
                background:#f5f5f5;
            }
            @media(max-width: 1280px) {
                .form__left-background {
                    width:calc(((100% - 936px) * 0.5) + 8px);
                }
            }
        </style>

    </head>

    <body lang="pl">

        <c:Nav />

        <section id="requestSketchesEstimatesSuccess" class="container hidden">

            <div class="row new-style" style="margin-top: 32px; margin-bottom:32px;">
                <div class="col-xs-12">
                    <h2 class="title">Dziękujemy za zamówienie</h2>
                    <p>Wszytkie dostępne materiały zostaną do Ciebie wysłane na podany w formularzu adres email.</p>
                    <p>W niektórych przypadkach projektant nie udostępnia szczegółowych materiałów: zostaniesz o tym
                        również poinformowany mailowo.</p>
                    <p>W razie jakichkolwiek pytań dotyczących projektu jesteśmy do dyspozycji: 71 715 20 60</p>
                </div>
            </div>
        </section>



        <div class="presentation-order-view">
            <div class="subpage">

                <form action="#" id="requestSketchesEstimatesForm" method="POST">
                    <section class="container">
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="article">
                                    <h1 class="article-title">Zamów<br /> prezentację</h1>
                                    <h2 class="article-text article-text_separated-half">
                                        Szukasz idealnego projektu dla siebie? Chętnie Ci w tym pomożemy!
                                    </h2>
                                    <p class="article-text article-text_separated-half">
                                        Nasz Doradca przygotuje dla Ciebie darmową prezentację z projektami, które
                                        dobierze według
                                        Twoich potrzeb. Wybierz jedną cechę z każdej kategorii, dodaj cechy szczególne,
                                        które
                                        powinien mieć Twój wymarzony dom i kliknij zamów! Niebawem dostaniesz
                                        zestawienie
                                        najciekawszych projektów na podanego maila.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="container">
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="form__params-row row">
                                    <div class="form__param-col col-md-4">
                                        <h4 class="form__param-header article-text">
                                            powierzchnia
                                        </h4>
                                        <div class="form__params-slider row form-group-sm sm mb-8">
                                            <div class="col-xs-12">
                                                <div class="sliders form-group">
                                                    <div style="margin-bottom:10px;margin-top:10px;margin-left:5px;max-width: 140px;">
                                                        <div id="sArea"
                                                            class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                                            <div class="ui-slider-range ui-widget-header ui-corner-all"
                                                                style="left: 0%; width: 100%;"></div><span
                                                                class="ui-slider-handle ui-state-default ui-corner-all"
                                                                tabindex="0" style="left: 0%;"></span><span
                                                                class="ui-slider-handle ui-state-default ui-corner-all"
                                                                tabindex="0" style="left: 100%;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5 style-area-r1">
                                                <input class="form-control style-area-center" id="mMinarea" min="1"
                                                    name="minarea" placeholder="od" required="required" type="number"
                                                    value="" />
                                            </div>
                                            <div class="col-xs-5 style-area-l1">
                                                <input class="form-control style-area-center" id="mMaxarea" min="1"
                                                    name="maxarea" placeholder="do" required="required" type="number"
                                                    value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form__param-col col-md-4">
                                        <h4 class="form__param-header article-text">
                                            wymiary działki
                                        </h4>
                                        <div class="form__params-slider row form-group-sm sm mb-8">
                                            <div class="col-xs-12">
                                                <div class="sliders form-group">
                                                    <div style="margin-bottom:10px;margin-top:10px;margin-left:5px;max-width: 140px;">
                                                        <div id="sPlotSize"
                                                            class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                                            <div class="ui-slider-range ui-widget-header ui-corner-all"
                                                                style="left: 0%; width: 100%;"></div><span
                                                                class="ui-slider-handle ui-state-default ui-corner-all"
                                                                tabindex="0" style="left: 0%;"></span><span
                                                                class="ui-slider-handle ui-state-default ui-corner-all"
                                                                tabindex="0" style="left: 100%;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5 style-area-r1">
                                                <input class="form-control style-area-center" id="mMinplotsize" min="1"
                                                    name="mMinplotsize" placeholder="od" required="required" type="number"
                                                    value="" />
                                            </div>
                                            <div class="col-xs-5 style-area-l1">
                                                <input class="form-control style-area-center" id="mMaxplotsize" min="1"
                                                    name="mMaxplotsize" placeholder="do" required="required" type="number"
                                                    value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form__param-col col-md-4">
                                        <h4 class="form__param-header article-text">
                                            ilość pokoi <span style="font-size:12px;font-weight:400;">bez salonu</span>
                                        </h4>
                                        <div class="form__params-slider row form-group-sm sm mb-8">
                                            <div class="col-xs-12">
                                                <div class="sliders form-group">
                                                    <div style="margin-bottom:10px;margin-top:10px;margin-left:5px;max-width: 140px;">
                                                        <div id="sRooms"
                                                            class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                                            <div class="ui-slider-range ui-widget-header ui-corner-all"
                                                                style="left: 0%; width: 100%;"></div><span
                                                                class="ui-slider-handle ui-state-default ui-corner-all"
                                                                tabindex="0" style="left: 0%;"></span><span
                                                                class="ui-slider-handle ui-state-default ui-corner-all"
                                                                tabindex="0" style="left: 100%;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5 style-area-r1">
                                                <input class="form-control style-area-center" id="mMinRoomsAmount" min="1"
                                                    name="mMinRoomsAmount" placeholder="od" required="required" type="number"
                                                    value="" />
                                            </div>
                                            <div class="col-xs-5 style-area-l1">
                                                <input class="form-control style-area-center" id="mMaxRoomsAmount" min="1"
                                                    name="mMaxRoomsAmount" placeholder="do" required="required" type="number"
                                                    value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form__params-row row">
                                    <div class="form__param-col col-md-4">
                                        <h4 class="form__param-header article-text">
                                            kondygnacja
                                        </h4>
                                        <ul class="list-unstyled">
                                            <li class="radio">
                                                <label>
                                                    <input name="requestLevel" required="required"
                                                        type="radio" value="Yes" />
                                                    kondygnacja dowolna
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestLevel" type="radio"
                                                        value="No" />
                                                    parterowa
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestLevel" type="radio"
                                                        value="No" />
                                                    z poddaszem do adaptacji
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestLevel" type="radio"
                                                        value="No" />
                                                    z poddaszem użytkowym
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestLevel" type="radio"
                                                        value="No" />
                                                    piętrowe
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form__param-col col-md-4">
                                        <h4 class="form__param-header article-text">
                                            dach
                                        </h4>
                                        <ul class="list-unstyled">
                                            <li class="radio">
                                                <label>
                                                    <input name="requestRoof" required="required"
                                                        type="radio" value="Yes" />
                                                    dach dwuspadowy
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestRoof" type="radio"
                                                        value="No" />
                                                    dach czterospadowy
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestRoof" type="radio"
                                                        value="No" />
                                                    dach płaski
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestRoof" type="radio"
                                                        value="No" />
                                                    dach jednospadowy
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestRoof" type="radio"
                                                        value="No" />
                                                    dach kopertowy
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestRoof" type="radio"
                                                        value="No" />
                                                    dach naczółkowy
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestRoof" type="radio"
                                                        value="No" />
                                                    dach mansardowy
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestRoof" type="radio"
                                                        value="No" />
                                                    dach wielospadowy
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestRoof" type="radio"
                                                        value="No" />
                                                    dach namiotowy
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form__param-col col-md-4">
                                        <h4 class="form__param-header article-text">
                                            garaż
                                        </h4>
                                        <ul class="list-unstyled">
                                            <li class="radio">
                                                <label>
                                                    <input name="requestGarage" required="required"
                                                        type="radio" value="Yes" />
                                                    brak
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestGarage" type="radio"
                                                        value="No" />
                                                    jedno miejsce
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestGarage" type="radio"
                                                        value="No" />
                                                    dwa miejsca
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestGarage" type="radio"
                                                        value="No" />
                                                    trzy miejsca
                                                </label>
                                            </li>
                                            <li class="radio">
                                                <label>
                                                    <input name="requestGarage" type="radio"
                                                        value="No" />
                                                    więcej niż 3 miejsca
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form__params-row form__param-col row">
                                    <div class="col-xs-12">
                                        <h4 class="article-text">
                                            cechy szczególne
                                        </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            Napisz na czym jabardzie Ci zależy, abyśmy mogli jak najlepiej dobrać projekt do Twoich potrzeb:
                                        </p>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="form-control" rows="5" id="comment" placeholder="np. duży salon, kuchnia oddzielona od salonu, wysokie okna, pokój dla gości na parterze, garderoba, spiżarnia itp."></textarea>
                                    </div>
                                </div>
                                <div class="form__params-row">
                                    <h4 class="form__param-header-solo article-text">
                                        Podaj swój adres mailowy, na który prześlemy prezentację
                                    </h4>
                                </div>
                            </div>
                            
                        </div>
                    </section>

                    <div style="position:relative;">
                        <div class="form__left-background"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9" style="background:#f5f5f5;padding-top:32px;padding-bottom:32px;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                                            <div class="row" style="margin-bottom:4px;">
                                                <div class="col-xs-3">
                                                    <label class="form-control-label"
                                                        for="requestSketchesEstimatesEmail">Email<span
                                                            class="color-red">*</span></label>
                                                </div>
                                                <div class="col-xs-9"><input class="form-control"
                                                        id="requestSketchesEstimatesEmail" maxlength="80" name="email"
                                                        placeholder="Email" required="required" type="email" />
                                                </div>
                                            </div>

                                            <style>
                                                .showSpanOnChecked input+span {
                                                    display: none;
                                                }

                                                .showSpanOnChecked input:checked+span {
                                                    display: inline-block;
                                                }
                                            </style>

                                            <ul class="list-unstyled" style="font-size:12px;">
                                                <li class="checkbox">
                                                    <label><input id="requestSketchesEstimatesOptInMarketing"
                                                            name="optInMarketing" type="checkbox" />
                                                        <strong>Chcę być informowany o produktach oferowanych przez Extradom
                                                            oraz
                                                            akcjach promocyjnych</strong>
                                                        <p style="margin-bottom:0;">W związku z tym wyrażam zgodę na
                                                            [&hellip;] <a class="more-link" data-toggle="collapse"
                                                                href="#moreSketchesOptInMarketing" aria-expanded="false"
                                                                aria-controls="moreSketchesOptInMarketing">więcej</a></p>
                                                        <div class="collapse" id="moreSketchesOptInMarketing">przesyłanie za
                                                            pośrednictwem środków komunikacji elektronicznej informacji
                                                            handlowych
                                                            oraz na używanie komunikacji telefonicznej oraz
                                                            telekomunikacyjnych
                                                            urządzeń końcowych i automatycznych systemów wywołujących, dla
                                                            celów
                                                            marketingu bezpośredniego dotyczących produktów i usług
                                                            Extradom.pl Sp.
                                                            z o.o. z siedzibą przy ul. Oławskiej 27-29, 50-123 Wrocław,
                                                            zgodnie z
                                                            art. 10 ustawy z dnia o świadczeniu usług drogą elektroniczną
                                                            (Dz. U. z
                                                            18 lipca 202) oraz art. 172 ustawy z dnia 16 lipca 2004 r. –
                                                            Prawo
                                                            telekomunikacyjne (Dz. U. z 2017 r. poz. 1907, z późn. zm.).
                                                            Wyrażam
                                                            zgodę na przetwarzanie podanych przeze mnie danych osobowych w
                                                            powyższym
                                                            celu. Wiem, że w każdym momencie przysługuje mi prawo wniesienia
                                                            sprzeciwu wobec przetwarzania danych osobowych w celach
                                                            marketingowych.
                                                        </div>
                                                    </label>
                                                </li>
                                                <li class="checkbox">
                                                    <label><input id="requestSketchesEstimatesOptInRegulations"
                                                            name="optInRegulations" required="required" type="checkbox" />
                                                        Akceptuję <a style="color:inherit;" target="_blank"
                                                            href="https://www.extradom.pl/regulamin">Regulamin Serwisu
                                                            Extradom.pl</a><span class="color-red">*</span>
                                                    </label>
                                                </li>
                                                <li class="checkbox">
                                                    <label><input id="requestSketchesEstimatesOptInPrivacyPolicy"
                                                            name="optInPrivacyPolicy" required="required" type="checkbox" />
                                                        Akceptuję <a style="color:inherit;" target="_blank"
                                                            href="https://www.extradom.pl/polityka-prywatnosci">Politykę
                                                            Prywatności</a><span class="color-red">*</span>
                                                    </label>
                                                </li>
                                            </ul>

                                            <div class="note-text grey-text" style="color:#777;">
                                                <p>Zgodnie z art. 13 ogólnego rozporządzenia o ochronie danych osobowych z
                                                    dnia 27
                                                    kwietnia 2016 r. dalej zwanym „RODO”, informuję, iż:</p>
                                                <ol start="1" style="padding-left: 1.8em; margin-bottom:0;">
                                                    <li>Administratorem Państwa danych osobowych jest Extradom.pl Sp. z o.o.
                                                        z
                                                        siedzibą we Wrocławiu, przy ul. Oławskiej 27-29, 50-123 Wrocław,
                                                        tel. 71/715
                                                        20 60, e-mail biuro@extradom.pl. [&hellip;] <a class="more-link"
                                                            data-toggle="collapse" href="#moreSketchesInfo"
                                                            aria-expanded="false"
                                                            aria-controls="moreSketchesInfo">więcej</a></li>
                                                </ol>
                                                <div class="collapse" id="moreSketchesInfo">
                                                    <ol start="2" style="padding-left: 1.8em;">
                                                        <li>Kontakt z nami możliwy jest także za pośrednictwem Inspektora
                                                            Ochrony
                                                            Danych drogą elektroniczną na adres iod@extradom.pl.</li>
                                                        <li>Podanie danych osobowych jest dobrowolne, ale niezbędne dla
                                                            realizacji
                                                            zamówienia.</li>
                                                        <li>Państwa dane osobowe mogą być także przetwarzane w celu
                                                            marketingu
                                                            bezpośredniego Extradom.pl Sp. z o. o. na podstawie art. 6 ust.
                                                            1 lit. f
                                                            RODO (przesłanka prawnie uzasadnionego interesu realizowanego
                                                            przez
                                                            administratora danych).</li>
                                                        <li>W każdej chwili przysługuje Państwu prawo wniesienia sprzeciwu
                                                            wobec
                                                            przetwarzania danych osobowych w celu marketingu bezpośredniego.
                                                        </li>
                                                        <li>Jeśli wyraziliście Państwo zgodę na otrzymywanie informacji
                                                            handlowych i
                                                            marketingowych zgodnie z ustawą o świadczeniu usług drogą
                                                            elektroniczną
                                                            i ustawą – Prawo telekomunikacyjne, zgoda ta może być wycofana w
                                                            każdym
                                                            czasie. Wycofanie zgody nie wpływa na legalność przetwarzania
                                                            Państwa
                                                            danych osobowych w czasie obowiązywania zgody.</li>
                                                        <li>Z prawa do wycofania zgody mogą Państwo skorzystać wysyłając
                                                            maila na
                                                            adres iod@extradom.pl.</li>
                                                        <li>Dostęp do Państwa danych osobowych mają odbiorcy, którzy
                                                            pomagają nam
                                                            utrzymać system teleinformatyczny, w którym prowadzone są konta
                                                            użytkowników.</li>
                                                        <li>Państwa dane osobowe będą przechowywane do dnia ustania celu,
                                                            dla
                                                            którego zostały zebrane, czyli np. usunięcia konta lub
                                                            zaprzestania
                                                            działalności serwisu.</li>
                                                        <li>Mają Państwo prawo do:
                                                            <ol style="list-style-type: lower-alpha; padding-left: 1.8em;">
                                                                <li>dostępu do swoich danych osobowych (czyli sprawdzenia,
                                                                    jakie
                                                                    dane są przez nas przetwarzane),</li>
                                                                <li>sprostowania danych osobowych (w sytuacji, gdyby okazało
                                                                    się, że
                                                                    są nieprawidłowe),</li>
                                                                <li>uzupełnienia danych osobowych (w sytuacji, gdyby okazało
                                                                    się, że
                                                                    są niekompletne),</li>
                                                                <li>przenoszenia danych osobowych (czyli przekazania Państwa
                                                                    danych
                                                                    osobowych w ustrukturyzowanym, powszechnie używanym
                                                                    formacie
                                                                    nadającym się do odczytu maszynowego np. txt., pdf.,
                                                                    odt., doc.,
                                                                    rtf., jpeg., XML, JSON, CSV),</li>
                                                                <li>żądania ograniczenia przetwarzania danych osobowych
                                                                    (będziemy
                                                                    wówczas mogli jedynie przechowywać Państwa dane
                                                                    osobowe),</li>
                                                                <li>usunięcia danych osobowych.</li>
                                                            </ol>
                                                        </li>
                                                        <li>W związku z przetwarzaniem przez nas Państwa danych osobowych
                                                            przysługuje Państwu prawo wniesienia skargi do organu
                                                            nadzorczego.
                                                            Organem tym jest obecnie Generalny Inspektor Danych Osobowych*
                                                            (https://giodo.gov.pl/pl/493).</li>
                                                        <li>W oparciu o dane osobowe nie będziemy podejmowali wobec Państwa
                                                            zautomatyzowanych decyzji, w tym decyzji będących wynikiem
                                                            profilowania.
                                                        </li>
                                                    </ol>
                                                    <p>*Prezes Urzędu Ochrony Danych Osobowych po wejściu w życie ustawy o
                                                        ochronie
                                                        danych osobowych.</p>
                                                </div>
                                            </div>

                                            <p style="margin-top:20px;margin-bottom:20px;">
                                                <button class="btn btn-lg btn-success pull-right"
                                                    id="requestSketchesEstimatesButton" type="submit">
                                                    <span id="requestSketchesEstimatesDesc">Zamawiam</span> <i
                                                        class="fa fa-angle-right" aria-hidden="true"></i>
                                                </button>
                                                <span class="color-red note-text center-text"
                                                    id="requestSketchesEstimatesErrors"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </form>
            </div>
        </div>

        <c:ExtradomFooter />
        <c:Gemius role="Podstrony" />


        <script type="text/javascript">
            var designs = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: 'https://api.extradom.pl/app/search?q=%QUERY',
                    wildcard: '%QUERY',
                    transform: function (data) {          // we modify the prefetch response
                        var newData = [];                 // here to match the response format 
                        data.designResults.forEach(function (item) {    // of the remote endpoint
                            newData.push({ 'name': item.name.substr(0, 26) + (item.name.length > 26 ? '…' : '') + ' ' + item.code, 'id': item.id, 'thumb': item.image.tinyImageUrl });
                        });
                        return newData;
                    }
                },
            });

            designs.initialize();

            var select = $("#requestSketchesEstimatesDesigns");
            select.tagsinput({
                itemValue: 'id',
                itemText: 'name',
                typeaheadjs: {
                    name: 'designs',
                    displayKey: 'name',
                    source: designs.ttAdapter(),
                    templates: {
                        suggestion: function (el) { return '<span><img height="24" width="36" src="' + el.thumb + '" style="padding-right:4px;" />' + el.name + '</span>' }
                    }
                },
                tagClass: 'badge',
                maxTags: 10,
                freeInput: false
            });

        </script>

        <script type="text/javascript">
            $("#requestSketchesEstimatesForm").on('submit', function (e) {
                $("#requestSketchesEstimatesButton").addClass('disabled');
                $("#requestSketchesEstimatesStatus").removeClass('fa-info-circle');
                $("#requestSketchesEstimatesStatus").addClass('fa-circle-o-notch fa-spin');
                $("#requestSketchesEstimatesErrors").text('');
                $("#requestSketchesEstimatesEmail").attr('disabled', 'disabled');
                $("#requestSketchesEstimatesPhone").attr('disabled', 'disabled');
                $("#requestSketchesEstimatesOptInRegulations").attr('disabled', 'disabled');
                $("#requestSketchesEstimatesOptInPrivacyPolicy").attr('disabled', 'disabled');
                $("#requestSketchesEstimatesOptInMarketing").attr('disabled', 'disabled');
                if ($('input[name="requestSketchesEstimatesHasPlot"]:checked').val() == undefined || $('input[name="requestSketchesEstimatesHasConditions"]:checked').val() == undefined || $('input[name="requestSketchesEstimatesInvestmentTime"]:checked').val() == undefined || $('input[name="requestSketchesEstimatesHasApp"]:checked').val() == undefined) {
                    $("#requestSketchesEstimatesButton").removeClass('disabled');
                    $("#requestSketchesEstimatesStatus").removeClass('fa-circle-o-notch fa-spin');
                    $("#requestSketchesEstimatesStatus").addClass('fa-info-circle');
                    $("#requestSketchesEstimatesEmail").removeAttr("disabled");
                    $("#requestSketchesEstimatesPhone").removeAttr("disabled");
                    $("#requestSketchesEstimatesOptInRegulations").removeAttr("disabled");
                    $("#requestSketchesEstimatesOptInPrivacyPolicy").removeAttr("disabled");
                    $("#requestSketchesEstimatesOptInMarketing").removeAttr("disabled");
                    $("#requestSketchesEstimatesErrors").text('Wypełnij ankietę i wyślij ponownie');
                } else if ($('#requestSketchesEstimatesDesigns').val() != null && ($('#requestSketchesEstimates1').is(':checked') || $('#requestSketchesEstimates2').is(':checked') || $('#requestSketchesEstimates3').is(':checked'))) {
                    $.ajax({
                        url: '/services/apexrest/sketchesestimatesrequest',
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "email": $('#requestSketchesEstimatesEmail').val(),
                            "phone": $('#requestSketchesEstimatesPhone').val(),
                            "designids": $('#requestSketchesEstimatesDesigns').val(),
                            "sketches": $('#requestSketchesEstimates1').is(':checked'),
                            "estimates": $('#requestSketchesEstimates2').is(':checked'),
                            "materials": $('#requestSketchesEstimates3').is(':checked'),
                            "optInRegulations": $('#requestSketchesEstimatesOptInRegulations').is(':checked'),
                            "optInPrivacyPolicy": $('#requestSketchesEstimatesOptInPrivacyPolicy').is(':checked'),
                            "optInMarketing": $('#requestSketchesEstimatesOptInMarketing').is(':checked'),
                            "hasPlot": $('input[name="requestSketchesEstimatesHasPlot"]:checked').val(),
                            "hasMpzp": $('input[name="requestSketchesEstimatesHasConditions"]:checked').val(),
                            "constructionPlan": $('input[name="requestSketchesEstimatesInvestmentTime"]:checked').val(),
                            "hasApp": $('input[name="requestSketchesEstimatesHasApp"]:checked').val()
                        }),
                        success: function (result) {
                            console.log(result);
                            $("#requestSketchesEstimatesStatus").removeClass('fa-circle-o-notch fa-spin');
                            $("#requestSketchesEstimatesStatus").addClass('fa-check');
                            $("#requestSketchesEstimatesDesc").text('Zamówienie przyjęte');
                            $("#requestSketchesEstimatesForm").addClass("hidden");
                            $("#requestSketchesEstimatesSuccess").removeClass("hidden").hide().fadeIn();
                            window.dataLayer = window.dataLayer || []
                            dataLayer.push({
                                "event": "FormSent"
                            });
                            olark('api.visitor.updateEmailAddress', {
                                emailAddress: $('#requestSketchesEstimatesEmail').val()
                            });
                            olark('api.visitor.updatePhoneNumber', {
                                phoneNumber: $('#requestSketchesEstimatesPhone').val()
                            });
                        },
                        error: function (xhr, resp, text) {
                            console.log(xhr, resp, text);
                            $("#requestSketchesEstimatesButton").removeClass('disabled');
                            $("#requestSketchesEstimatesStatus").removeClass('fa-circle-o-notch fa-spin');
                            $("#requestSketchesEstimatesStatus").addClass('fa-info-circle');
                            $("#requestSketchesEstimatesEmail").removeAttr("disabled");
                            $("#requestSketchesEstimatesPhone").removeAttr("disabled");
                            $("#requestSketchesEstimatesOptInRegulations").removeAttr("disabled");
                            $("#requestSketchesEstimatesOptInPrivacyPolicy").removeAttr("disabled");
                            $("#requestSketchesEstimatesOptInMarketing").removeAttr("disabled");
                            $("#requestSketchesEstimatesErrors").text('Nie udało nam się przetworzyć Twojego zamówienia. Spróbuj ponownie');
                        }
                    });
                } else {
                    $("#requestSketchesEstimatesButton").removeClass('disabled');
                    $("#requestSketchesEstimatesStatus").removeClass('fa-circle-o-notch fa-spin');
                    $("#requestSketchesEstimatesStatus").addClass('fa-info-circle');
                    $("#requestSketchesEstimatesEmail").removeAttr("disabled");
                    $("#requestSketchesEstimatesPhone").removeAttr("disabled");
                    $("#requestSketchesEstimatesOptInRegulations").removeAttr("disabled");
                    $("#requestSketchesEstimatesOptInPrivacyPolicy").removeAttr("disabled");
                    $("#requestSketchesEstimatesOptInMarketing").removeAttr("disabled");
                    $("#requestSketchesEstimatesErrors").text('Wybierz co najmniej 1 projekt i określ, które materiały chcesz otrzymać');
                }
                e.preventDefault();
            });
        </script>
        
        
        
        <script>
            // filters (jquery ui sliders)
            if (typeof jQuery.ui !== 'undefined') {
              // -- powierzchina użytkowa
              $("#sArea").slider({
                range: true,
                min: 10,
                max: 300,
                step: 10,
                values: [10, 300],
                slide: function (event, ui) {
                  if (ui.values[0] > 10 && ui.values[1] < 300) {
                      $("#mMinarea").val(ui.values[0]);
                      $("#mMaxarea").val(ui.values[1]);
                  } else if (ui.values[0] == 10 && ui.values[1] < 300) {
                      $("#mMinarea").val("");
                      $("#mMaxarea").val(ui.values[1]);
                  } else if (ui.values[0] > 10 && ui.values[1] == 300) {
                      $("#mMinarea").val(ui.values[0]);
                      $("#mMaxarea").val("");
                  } else {
                      $("#mMinarea").val("");
                      $("#mMaxarea").val("");
                  }
                }
              });

              // -- szerokość działki             
              $("#sPlotSize").slider({
                range: true,
                min: 10,
                max: 300,
                step: 10,
                values: [10, 300],
                slide: function (event, ui) {
                  if (ui.values[0] > 10 && ui.values[1] < 300) {
                      $("#mMinplotsize").val(ui.values[0]);
                      $("#mMaxplotsize").val(ui.values[1]);
                  } else if (ui.values[0] == 10 && ui.values[1] < 300) {
                      $("#mMinplotsize").val("");
                      $("#mMaxplotsize").val(ui.values[1]);
                  } else if (ui.values[0] > 10 && ui.values[1] == 300) {
                      $("#mMinplotsize").val(ui.values[0]);
                      $("#mMaxplotsize").val("");
                  } else {
                      $("#mMinplotsize").val("");
                      $("#mMaxplotsize").val("");
                  }
                }
              });
              
              

              // -- liczba pokoi
              $("#sRooms").slider({
                range: true,
                min: 1,
                max: 20,
                step: 1,
                values: [1, 20],
                slide: function (event, ui) {
                  if (ui.values[0] > 1 && ui.values[1] < 20) {
                      $("#mMinRoomsAmount").val(ui.values[0]);
                      $("#mMaxRoomsAmount").val(ui.values[1]);
                  } else if (ui.values[0] == 1 && ui.values[1] < 20) {
                      $("#mMinRoomsAmount").val("");
                      $("#mMaxRoomsAmount").val(ui.values[1]);
                  } else if (ui.values[0] > 1 && ui.values[1] == 20) {
                      $("#mMinRoomsAmount").val(ui.values[0]);
                      $("#mMaxRoomsAmount").val("");
                  } else {
                      $("#mMinRoomsAmount").val("");
                      $("#mMaxRoomsAmount").val("");
                  }
                }
              });
              
              
              
              };

            </script>



    </body>

    </html>

</apex:page>