<apex:page language="pl" showHeader="false" cache="true">
    <body>
                    <chatteranswers:guestsignin />
                    <chatteranswers:aboutme communityId="09ab0000000L8s5"/>
                    <chatteranswers:datacategoryfilter communityId="09ab0000000L8s5"/>
                    <chatteranswers:searchask communityId="09ab0000000L8s5"/>
                    <chatteranswers:feedfilter />
                    <chatteranswers:feeds communityId="09ab0000000L8s5"/>
    </body>
</apex:page>