<apex:page cache="true" expires="60" docType="html-5.0" applyBodyTag="false" applyHtmlTag="false" showHeader="false" standardStylesheets="false" controller="ExtradomSummaryController" readOnly="true">
<html>
    <head>
        <title>Extradom TV (CC) | extradom</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <c:css />
        
    </head>

    <body lang="pl" style="font-size:18px;">
        
        <section class="container-fluid" style="margin:25px;">
        
            <div class="row">
                
                <!-- stats -->
                <section class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-11">
                            <div class="section-col" style="margin-bottom:35px;margin-top:10px;">
                                <p><img src="//static.extradom.pl/logo-extradom.png" class="img-responsive" style="margin:0 auto;" /></p>
                            </div>
                            <div class="row section-col" style="margin-bottom:35px;">
                                <div class="col-xs-5 col-xs-offset-3">
                                    <div class="chart-lg" data-percent="100" style="width:170px;font-weight:bold;font-size:20px;"><div style="position:absolute;width:170px;text-align:center;top:37px;line-height:1.15;"><h3>Społeczność</h3><span style="display:block;font-weight:bold;font-size:26px;"><c:prettyInteger value="{!$Setup.Community_Home_Feed_Settings__c.Network_Members_Count__c}" /></span><span class="fa fa-map-marker icon-success"></span>&nbsp;<apex:outputPanel id="countTotalLocalizedConstructions"><c:prettyInteger value="{!CountTotalLocalizedConstructions}" /></apex:outputPanel></div></div>
                                </div>
                            </div>
                            <h1 class="text-center" style="margin-bottom:25px;"><span class="fa fa-calendar icon-success"></span> Co się dzisiaj wydarzyło?</h1>
                            <div class="row section-col">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <div id="countTodaysNewMembers" class="chart note-text" data-percent="{!CEILING(CountTodaysNewMembers/100*100)}" style="width:110px;"><h2 class="text-center">Rejestracje</h2><div style="position:absolute;width:110px;text-align:center;top:70px;line-height:1.15;"><span style="display:block;font-weight:bold;font-size:24px;"><c:prettyInteger value="{!CountTodaysNewMembers}" /></span>nowych<br/>osób</div></div>
                                </div>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <div id="countTodaysUniqueMembers" class="chart note-text" data-percent="{!CEILING(CountTodaysUniqueMembers/1000*100)}" style="width:110px;"><h2 class="text-center">Obecność</h2><div style="position:absolute;width:110px;text-align:center;top:70px;line-height:1.15;"><span style="display:block;font-weight:bold;font-size:24px;"><c:prettyInteger value="{!CountTodaysUniqueMembers}" /></span> osoby<br />online</div></div>
                                </div>
                            </div>
                            <div class="row section-col">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <div id="countTodaysPosts" class="chart note-text" data-percent="{!CEILING(CountTodaysPosts/200*100)}" style="width:110px;"><h2 class="text-center">Posty</h2><div style="position:absolute;width:110px;text-align:center;top:75px;line-height:1.15;"><span style="display:block;font-weight:bold;font-size:24px;"><c:prettyInteger value="{!CountTodaysPosts}" /></span> postów</div></div>
                                </div>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <div id="countTodaysComments" class="chart note-text" data-percent="{!CEILING(CountTodaysComments/500*100)}" style="width:110px;"><h2 class="text-center">Komentarze</h2><div style="position:absolute;width:110px;text-align:center;top:75px;line-height:1.15;"><span style="display:block;font-weight:bold;font-size:24px;"><c:prettyInteger value="{!CountTodaysComments}" /></span> komentarzy</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- feed -->
                <section class="col-xs-5" id="feedSection">
                    <div class="row">
                        <div class="col-xs-11">
                            <h2>Ostatnio komentowane</h2>
                            <apex:outputPanel id="feed">
                            <div class="col-xs-12 section-col">
                                <c:Comment comment="{!LastCommentedFeedElement.capabilities.comments.page.items[LastCommentedFeedElement.capabilities.comments.page.items.size-1]}" element="{!LastCommentedFeedElement}" role="tv" />
                            </div>
                            <div class="row" id="feed" data-role="feed">
                                <c:FeedElement element="{!LastCommentedFeedElement}" comments="hide" />
                            </div>
                            <script type="text/javascript">
                            $(document).ready(function(){
                                $('#feedSection .lazy-load').lazyload({ effect : "fadeIn" , threshold : 300 });
                                $('#feedSection').hide().fadeIn();
                            });
                            </script>
                            </apex:outputPanel>
                        </div>
                    </div>
                </section>
                
                <!-- live -->
                <section class="col-xs-3">
                    <h2>Osoby online <apex:outputPanel id="livestat"><span id="livestat" class="pull-right grey-text"><span class="fa fa-circle" style="color:#32CD32;"></span> {!LiveUsers.size}</span></apex:outputPanel></h2>
                    <div class="row">
                    <apex:outputPanel id="live">
                    <apex:repeat value="{!LiveUsers}" var="user">
                        <div class="col-xs-4" style="padding-bottom:1px; overflow:hidden; text-overflow:ellipsis; white-space: nowrap;"><a href="{!URLFOR($Page.ProfileView,null,[id=user.id])}"><img src="{!user.photo.smallPhotoUrl}" width="20" height="20" style="margin-right:3px;" />{!user.displayName}</a></div>
                    </apex:repeat>
                    </apex:outputPanel>
                    </div>
                </section>
                
            </div>
        </section>
        
        <div class="hidden"><c:ExtradomFooter /></div>
        <script type="text/javascript" src="//static.extradom.pl/js/jquery.easypiechart.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            var charts = $('.chart');
            charts.easyPieChart({
                barColor: function(percent) {
                    percent /= 100;
                    return "rgb(" + Math.round(255 * (1-percent)) + ", " + Math.round(255 * percent) + ", 0)";
                },
                trackColor: '#fafafa',
                scaleColor: false,
                lineCap: 'round',
                rotate: -90,
                lineWidth: 5,
                animate: 1000
            });
            charts = $('.chart-lg');
            charts.easyPieChart({
                barColor: '#CC0200',
                trackColor: '#fafafa',
                scaleColor: false,
                lineCap: 'round',
                rotate: -90,
                lineWidth: 5,
                animate: 1000,
                size: 170
            });
        });
        </script>
        
        <apex:form >
            <apex:outputPanel id="counter">
                <script type="text/javascript">
                $(document).ready(function(){
                    if ($('#countTodaysNewMembers').find('span').text()!='{!CountTodaysNewMembers}') {
                        $('#countTodaysNewMembers').find('span').hide().fadeIn();
                        $('#countTodaysNewMembers').data('easyPieChart').update({!CEILING(CountTodaysNewMembers/100*100)});
                        $('#countTodaysNewMembers').find('span').text('{!CountTodaysNewMembers}');
                    }
                    if ($('#countTodaysUniqueMembers').find('span').text()!='{!CountTodaysUniqueMembers}') {
                        $('#countTodaysUniqueMembers').find('span').hide().fadeIn();
                        $('#countTodaysUniqueMembers').data('easyPieChart').update({!CEILING(CountTodaysUniqueMembers/1000*100)});
                        $('#countTodaysUniqueMembers').find('span').text('{!CountTodaysUniqueMembers}');
                    }
                    if ($('#countTodaysPosts').find('span').text()!='{!CountTodaysPosts}') {
                        $('#countTodaysPosts').find('span').hide().fadeIn();
                        $('#countTodaysPosts').data('easyPieChart').update({!CEILING(CountTodaysPosts/200*100)});
                        $('#countTodaysPosts').find('span').text('{!CountTodaysPosts}');
                    }
                    if ($('#countTodaysComments').find('span').text()!='{!CountTodaysComments}') {
                        $('#countTodaysComments').find('span').hide().fadeIn();
                        $('#countTodaysComments').data('easyPieChart').update({!CEILING(CountTodaysComments/500*100)});
                        $('#countTodaysComments').find('span').text('{!CountTodaysComments}');
                        refreshFeed();
                    }
                });
                </script>
            </apex:outputPanel>
            <apex:actionPoller reRender="counter" interval="15"/>
            <apex:actionPoller reRender="live,livestat,countTotalLocalizedConstructions" interval="45"/>
            <apex:actionfunction name="refreshFeed" rerender="feed" />
        </apex:form>
        
    </body>
    
</html>

</apex:page>