<apex:page standardStylesheets="false" showHeader="false" applyHtmlTag="false" readOnly="true" cache="true" expires="2678400" applyBodyTag="false" >
<html>
<head>
<style>
body{
    margin: 0;
}
.projects {
  width: 279px;
}
.projects ul{
  list-style: outside none none;
  margin: 3px 0;
  overflow: hidden;
  padding: 0;
}
.projects ul li{
  float: left;
  width: 132px;
}
.projects ul li:first-child {
  margin-right: 8px;
}
.projects ul li img{
  border: 1px solid #b8b8b5;
  border-radius: 3px;
  display: block;
  height: 82px;
  padding: 1px;
  width: 128px;
}
.projects ul li h4{
  color: #2e2b26;
  display: inline-block;
  font: bold 11px/1.5 Arial,Helvetica,sans-serif;
  margin: 4px 0 0;
  text-align: center;
  vertical-align: bottom;
}
</style>
</head>
<body style="margin: 0;">        
        <div class="projects">
            <ul>
                <li>
                    <a href="http://e-projekty.pl/projekt-domu-dom-z-widokiem-3-WAH1656" rel="external" target="_parent">
                    <img alt="dom jednorodzinny z garażem &ndash; projekt domu Dom z widokiem 3" src="https://img.extradom.pl/media/render/295440/crop%24wh32auto%2cresize%24325-217-2" />
                    <h4>dom jednorodzinny z garażem &ndash; projekt domu Dom z widokiem</h4>
                    </a>
                </li>
                <li>
                    <a href="http://e-projekty.pl/projekt-domu-ambrozja-3-BSA2032" rel="external" target="_parent">
                    <img alt="dom jednorodzinny z garażem &ndash;projekt domu Ambrozja 3" src="https://img.extradom.pl/media/render/231344/crop%24wh32auto%2cresize%24325-217-2" />
                    <h4>dom jednorodzinny z garażem &ndash; projekt domu Ambrozja 3</h4>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="http://e-projekty.pl/projekt-domu-tampa-dcp317-WOB1550" rel="external" target="_parent">
                    <img alt="dom jednorodzinny bez garażu &ndash; projekt domu Tampa WOB1550" src="https://img.extradom.pl/media/render/232795/crop%24wh32auto%2cresize%24325-217-2" />
                    <h4>dom jednorodzinny bez garażu &ndash; projekt domu Tampa</h4>
                    </a>
                </li>
                <li>
                    <a href="http://e-projekty.pl/projekt-domu-e-158-WAX1043" rel="external" target="_parent">
                    <img alt="dom jednorodzinny z garażem &ndash; projekt domu E-158" src="https://img.extradom.pl/media/render/261598/crop%24wh32auto%2cresize%24325-217-2" />
                    <h4>dom jednorodzinny z garażem &ndash; projekt domu E-158</h4>
                    </a>
                </li>
            </ul>           
            <ul>
                <li>
                    <a href="http://e-projekty.pl/projekt-domu-opalek-ii-n-2g-BSB1079" rel="external" target="_parent">
                    <img alt="dom jednorodzinny bez garażu &ndash; projekt domu Opałek II N 2G" src="//img.extradom.pl/extradom/projekt%20domu/25278/render/big695/crop%24wh32auto%2cresize%24325-217-2" />
                    <h4>dom jednorodzinny z garażem &ndash; projekt domu Opałek II N 2G</h4>
                    </a>
                </li>
                <li>
                    <a href="http://e-projekty.pl/projekt-domu-aps-261-LUA1285" rel="external" target="_parent">
                    <img alt="dom jednorodzinny z garażem &ndash; projekt domu APS 261" src="https://img.extradom.pl/media/render/233132/crop%24wh32auto%2cresize%24325-217-2" />
                    <h4>dom jednorodzinny z garażem &ndash; projekt domu APS 261</h4>
                    </a>
                </li>        
            </ul>
        </div>
</body>
</html>
</apex:page>