<apex:component layout="none" >
    <apex:attribute name="role" type="String" description="display role"/>
    
        <apex:outputText rendered="{!role=='Społeczność'}">
            <script type="text/javascript" src="//myao.adocean.pl/files/js/ado.js"></script>
                <script type="text/javascript">
                /* (c)AdOcean 2003-2016 */
                    if(typeof ado!=="object"){ado={};ado.config=ado.preview=ado.placement=ado.master=ado.slave=function(){};} 
                    ado.config({mode: "new", xml: false, characterEncoding: true});
                    ado.preview({enabled: true, emiter: "myao.adocean.pl", id: "y6g3tTbLJv6vLRZ.AfyeiXkCPM0gL3CNAik2rwTzhKD.N7"});
                </script>
                <!-- start master -->
                <script type="text/javascript">
                /* (c)AdOcean 2003-2016, MASTER: cormedia.extradom.pl.Spo_eczno__ */
                    ado.master({id: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7', server: 'myao.adocean.pl' });
                </script>
                <!--  end master  --> 
                
                <div id="adoceanmyaokohmltnpqe"></div>
                <script type="text/javascript">
                /* (c)AdOcean 2003-2016, cormedia.extradom.pl.Spo_eczno__.corner */
                ado.slave('adoceanmyaokohmltnpqe', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                </script>
        </apex:outputText>
        
        <apex:outputText rendered="{!role=='Projekty'}">
            <script type="text/javascript" src="//myao.adocean.pl/files/js/ado.js"></script>
                <script type="text/javascript">
                /* (c)AdOcean 2003-2016 */
                    if(typeof ado!=="object"){ado={};ado.config=ado.preview=ado.placement=ado.master=ado.slave=function(){};} 
                    ado.config({mode: "new", xml: false, characterEncoding: true});
                    ado.preview({enabled: true, emiter: "myao.adocean.pl", id: "y6g3tTbLJv6vLRZ.AfyeiXkCPM0gL3CNAik2rwTzhKD.N7"});
                </script>
                <!-- start master -->
                <script type="text/javascript">
                /* (c)AdOcean 2003-2016, MASTER: cormedia.extradom.pl.Projekty */
                ado.master({id: '75GXMkjSN30t6KtmLTykf7zdjLSm15BZjt0cToDzHV7.u7', server: 'myao.adocean.pl' });
                    </script>
                <!--  end master  -->
                
                
                
        </apex:outputText>
        
        <apex:outputText rendered="{!role=='Veka'}">
            <apex:outputText rendered="{!$User.Show_Ads__c}">   
            <script type="text/javascript" src="//myao.adocean.pl/files/js/ado.js"></script>
                <script type="text/javascript">
                /* (c)AdOcean 2003-2016 */
                    if(typeof ado!=="object"){ado={};ado.config=ado.preview=ado.placement=ado.master=ado.slave=function(){};} 
                    ado.config({mode: "new", xml: false, characterEncoding: true});
                    ado.preview({enabled: true, emiter: "myao.adocean.pl", id: "y6g3tTbLJv6vLRZ.AfyeiXkCPM0gL3CNAik2rwTzhKD.N7"});
                </script>
                <!-- start master -->
                <script type="text/javascript">
                    /* (c)AdOcean 2003-2013, MASTER: cormedia.extradom.pl.Spo_eczno__ */
                    ado.master({id: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7', server: 'myao.adocean.pl' });
                </script>
                <!--  end master  -->
        </apex:outputText>        
       </apex:outputText>   
    
</apex:component>