<apex:component layout="none" controller="ContextUserController">
    <apex:attribute name="page" type="ConnectApi.ChatterConversationPage" description=""/>
                
                <apex:repeat value="{!page.conversations}" var="conversation">
                
                                    <div class="col-xs-12" style="margin-bottom:20px;">
                                      <div class="row" style="background:{!IF(conversation.read,'#f3f3f3','url(\"//static.extradom.pl/message-bg.png\") #f3f3f3 bottom repeat-x')};padding-top:7px;padding-bottom:7px;border-top:1px solid #ececec;">
                                        <div class="col-xs-1">
                                            <div class="row">
                                                <apex:repeat value="{!conversation.members}" var="member"><apex:outputText rendered="{!member.id!=$User.Id}">
                                                    <div class="col-xs-12" style="margin-bottom:7px;"><img class="img-responsive" title="" alt="" src="{!member.photo.smallPhotoUrl}" /></div>
                                                </apex:outputText></apex:repeat>
                                            </div>
                                        </div>
                                        <div class="col-xs-11">
                                            <p><a style="{!IF(conversation.read,'','font-weight:bold;')}" href="{!URLFOR($Page.ConversationView,null,[id=conversation.id])}">Korespondencja z&nbsp;<apex:repeat value="{!conversation.members}" var="member"><apex:outputText rendered="{!member.id!=$User.Id}">{!member.displayName&' '}</apex:outputText></apex:repeat></a> <apex:outputText rendered="{!NOT(conversation.read)}"><span style="background:#fff;color:#aaa;" class="badge pull-right"><a href="{!URLFOR($Page.ConversationView,null,[id=conversation.id])}"><span class="fa fa-envelope icon-success"></span></a></span></apex:outputText></p>
                                            <p style="font-size:12px;color:#777;margin-bottom:0;">Ostatnia wiadomość:</p>
                                            <div class="row" style="margin-bottom:6px;">
                                                <c:Message message="{!conversation.latestMessage}" />
                                            </div>
                                        </div>
                                      </div>
                                      </div>
                
                
                        
                </apex:repeat>
                        
</apex:component>