<apex:component access="global" controller="ConnectApiTools" layout="none"><apex:attribute assignTo="{!decimalValue}" description="The Decimal value to be rendered based upon the user's locale" name="value" type="Decimal"></apex:attribute>{!DecimalLocaleValue}</apex:component>