<apex:component layout="none" controller="ConnectApiToolsForVF" allowDML="true">
    <apex:attribute name="role" type="String" description="display role"/>
    <apex:attribute name="comments" default="default" type="String" description=""/>
    <apex:attribute name="controls" default="default" type="String" description=""/>
    <apex:attribute name="element" description="ConnectApi.FeedElement to render feed element" type="ConnectApi.FeedElement" required="true" />
    
                        <!-- standard layout -->
                        <apex:outputText rendered="{!(element.capabilities.content==null || (element.capabilities.content.mimeType!=null && NOT(CONTAINS(element.capabilities.content.mimeType,'image/'))) || element.capabilities.comments.page.items.size>0 || role=='group' || role=='link' || role=='readonly' || role=='single' || LEFT(element.parent.id,3)=='0F9') && role!='gallery' && role!='thumb'}">
                        <div data-role="feedelement" data-elementid="{!element.id}" class="feed-element section-col col-xs-12" style="{!IF(role!='single' && role!='readonly','','border-top:none;')}">
                        <apex:outputText rendered="{!role!='link' && role!='readonly'}">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-xs-2 col-sm-1">
                                <apex:outputText rendered="{!element['actor']['type']=='User'}">
                                    <a href="{!URLFOR($Page.ProfileView,null,[id=element['actor']['id']])}"><img title="{!element['actor']['displayName']}" alt="{!element['actor']['displayName']}" src="{!element['actor']['photo']['smallPhotoUrl']}" data-me="{!IF(element['actor']['id']==$User.Id,'small','')}" class="img-responsive" /></a>
                                </apex:outputText>
                            </div>
                            <div class="col-xs-10 col-sm-11">
                                <h3 style="margin-top:0;margin-bottom:2px;font-weight:normal;font-size:14px;">
                                    <c:MessageBody body="{!element.header}" />
                                    <apex:outputText rendered="{!element.capabilities.questionAndAnswers!=null}"> <span class="fa fa-question-circle" style="color:#777;"></span></apex:outputText>
                                    <apex:outputText rendered="{!role=='single' && NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                        <div class="btn-group pull-right">
                                            <a role="button" title="Dodaj do zakładek" data-isbookmarked="{!IF(element.capabilities.bookmarks.isBookmarkedByCurrentUser,'true','')}" data-role="toggle-bookmark" data-elementId="{!element.Id}" onclick="toogleUpdateFeedElementBookmarks(this);" class="btn btn-default btn-sm"><span data-role="status-bookmark" data-elementId="{!element.Id}" class="fa fa-bookmark{!IF(element.capabilities.bookmarks.isBookmarkedByCurrentUser,'','-o')} {!IF(element.capabilities.bookmarks.isBookmarkedByCurrentUser,'icon-success','icon-default')}"></span></a>
                                            <apex:outputText rendered="{!element['actor']['id']==$User.Id || $User.Id='005b00000032lwgAAA' || $User.Id='005b00000031pACAAY'}">
                                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a role="button" data-elementId="{!element.Id}" onclick="deleteFeedElement(this);"><span class="fa fa-trash icon-default"></span>&nbsp; Usuń post</a></li>
                                                </ul>
                                            </apex:outputText>
                                        </div>
                                    </apex:outputText>
                                </h3>
                                <p style="font-size:12px;color:#777;">
                                    <span class="fa fa-clock-o"></span>
                                    
                                        <apex:outputText rendered="{!element.capabilities.questionAndAnswers!=null}">
                                            <a style="color:inherit;" href="{!URLFOR($Page.FeedElementQuestionView,null,[id=element.id])}">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)=='0F9'}">
                                            <a style="color:inherit;" href="{!URLFOR($Page.FeedElementExpertGroupView,null,[id=element.id])}">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)!='0F9' && NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                            <a style="color:inherit;" href="{!URLFOR($Page.FeedElementView,null,[id=element.id])}">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)!='0F9' && ISPICKVAL($User.UserType,'Guest')}">
                                            <a style="color:inherit;">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                        </apex:outputText>
                                    
                                </p>
                             </div>
                         </div>
                         </apex:outputText>
                         <apex:outputText rendered="{!role=='readonly'}">
                         <div class="row">
                             <div class="col-xs-12">
                                <p style="margin-top:0;margin-bottom:6px;font-weight:normal;font-size:14px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    <a href="{!URLFOR($Page.ProfileView,null,[id=element['actor']['id']])}"><img title="{!element['actor']['displayName']}" alt="{!element['actor']['displayName']}" src="{!element['actor']['photo']['smallPhotoUrl']}" data-me="{!IF(element['actor']['id']==$User.Id,'small','')}" width="26" height="26" style="margin-right:2px;" /></a>
                                    <a href="{!URLFOR($Page.ProfileView,null,[id=element['actor']['id']])}">{!element['actor']['displayName']}</a>
                                </p>
                             </div>
                         </div>
                         </apex:outputText>
                         <div class="row">
                             <div class="col-xs-12">
                                
                                <apex:outputText rendered="{!element.capabilities.content!=null}">
                                <div style="margin-bottom:10px;background-color:#f3f3f3;display:block;" class="feed-element-content {!IF(role!='single' && (role=='group' || role=='readonly' || (LEFT(element.parent.id,3)=='0F9' && role!='link')),'group-feed-element-content','')}{!IF(role=='link','link-feed-element-content','')}">
                                    <apex:outputText rendered="{!CONTAINS(element.capabilities.content.mimeType,'image/')}">
                                        <apex:outputText rendered="{!role!='single' && role!='group' && role!='link' && LEFT(element.parent.id,3)!='0F9'}">
                                            <a role="button" data-elementid="{!element.id}" data-toggle="modal" data-target="#feedElementModal" onclick="loadFeedElementModal(this);">
                                                <img src="//static.extradom.pl/preloader-3-4-708-708.png" data-original="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/resize%24708-708-1" class="lazy-load img-responsive" style="{!CASE(comments,'hide','max-height:335px;','')}margin:0 auto;" />
                                            </a>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!role=='single' && controls!='show'}">
                                            <img src="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/resize%24915-915-1" class="img-responsive" style="margin:0 auto;" />
                                        </apex:outputText>
                                        <apex:outputText rendered="{!role=='single' && controls=='show'}">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <a class="left carousel-control" onclick="loadFeedElementModalPrev('{!element.id}')" role="button">
                                                        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="right carousel-control" onclick="loadFeedElementModalNext('{!element.id}')" role="button">
                                                        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                    <img src="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/resize%24915-915-1" class="img-responsive" style="margin:0 auto;" />
                                                </div>
                                            </div>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!role!='single' && (role=='group' || role=='link' || LEFT(element.parent.id,3)=='0F9')}">
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers!=null}">
                                                <a href="{!URLFOR($Page.FeedElementQuestionView,null,[id=element.id])}">
                                                    <img src="//static.extradom.pl/preloader-3-4-708-708.png" data-original="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/resize%24708-708-1" class="lazy-load img-responsive" style="margin:0 auto;" />
                                                </a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)=='0F9'}">
                                                <a href="{!URLFOR($Page.FeedElementExpertGroupView,null,[id=element.id])}">
                                                    <img src="//static.extradom.pl/preloader-3-4-708-708.png" data-original="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/resize%24708-708-1" class="lazy-load img-responsive" style="margin:0 auto;" />
                                                </a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)!='0F9' && NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                                <a href="{!URLFOR($Page.FeedElementView,null,[id=element.id])}">
                                                    <img src="//static.extradom.pl/preloader-3-4-708-708.png" data-original="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/resize%24708-708-1" class="lazy-load img-responsive" style="margin:0 auto;" />
                                                </a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)!='0F9' && ISPICKVAL($User.UserType,'Guest')}">
                                                <img src="//static.extradom.pl/preloader-3-4-708-708.png" data-original="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/resize%24708-708-1" class="lazy-load img-responsive" style="margin:0 auto;" />
                                            </apex:outputText>
                                        </apex:outputText>
                                    </apex:outputText>
                                </div>
                                </apex:outputText>
                                
                                <apex:outputText rendered="{!LEFT(element.parent.id,3)=='0F9' && role!='single' && role!='readonly'}">
                                    <h3><a href="{!URLFOR($Page.FeedElementExpertGroupView,null,[id=element.id])}"><c:MessageBody body="{!element.body}" role="header" /></a></h3>
                                </apex:outputText>
                                
                                <apex:outputText rendered="{!element.capabilities.questionAndAnswers!=null && role!='single'}">
                                    <p><b>{!element.capabilities.questionAndAnswers.questionTitle}</b></p>
                                </apex:outputText>
                                
                                <apex:outputText rendered="{!element.capabilities.link!=null && LEFT(element.parent.id,3)=='0F9'}">
                                    <apex:outputText rendered="{!BEGINS(element.capabilities.link.url,'https://vimeo.com/')}">
                                    <p>
                                        <video data-role="video" data-elementid="{!element.id}" width="100%" height="100%" controls="controls" preload="metadata" poster="//vids.extradom.pl/{!$Organization.id}-{!element.id}.jpg">
                                            <source src="//vids.extradom.pl/{!$Organization.id}-{!element.id}-720p.mp4" type="video/mp4" />
                                        </video>
                                    </p>
                                    </apex:outputText>
                                </apex:outputText>
                                
                                <apex:outputText rendered="{!LEFT(element.parent.id,3)=='0F9' && role!='single' && role!='readonly'}">
                                    <p class="text-justify" style="{!IF(element.capabilities.questionAndAnswers!=null || role=='link','font-size:12px;color:#777;','')}">
                                        <c:MessageBody body="{!element.body}" role="desc" />
                                    </p>
                                    <p>
                                        <a style="font-size:12px;color:#777;" href="{!URLFOR($Page.FeedElementExpertGroupView,null,[id=element.id])}">więcej »</a>
                                    </p>
                                </apex:outputText>
                                <apex:outputText rendered="{!element.body.messageSegments.size>0 && LEFT(element.parent.id,3)!='0F9'}">
                                    <div style="margin-bottom:10px;display:block;">
                                        <apex:outputText rendered="{!role=='single'}"><c:MessageBody body="{!element.body}" /></apex:outputText>
                                        <apex:outputText rendered="{!role!='single'}"><c:MessageBody body="{!element.body}" plimit="{!CASE(element['actor']['id'],'005b00000031pACAAY',8,0)}" role="short" morelink="{!URLFOR($Page.FeedElementView,null,[id=element.id])}" /></apex:outputText>
                                    </div>
                                </apex:outputText>
                                <apex:outputText rendered="{!element.body.messageSegments.size>0 && (LEFT(element.parent.id,3)=='0F9' && role=='single')}">
                                    <span style="text-align:justify;padding-bottom:10px;{!IF(element.capabilities.questionAndAnswers!=null,'font-size:12px;','')}">
                                        <p style="font-size:18px;margin-bottom:20px;"><c:MessageBody body="{!element.body}" role="desc" /></p>
                                        <apex:outputText rendered="{!element.capabilities.link!=null}">
                                            <apex:outputText rendered="{!NOT(BEGINS(element.capabilities.link.url,'https://vimeo.com/'))}">
                                                <p class="section-col">
                                                    <strong><a href="{!element.capabilities.link.url}">{!element.capabilities.link.urlName}</a></strong>
                                                </p>
                                            </apex:outputText>
                                        </apex:outputText>
                                        <c:MessageBody body="{!element.body}" role="content" />
                                    </span>
                                </apex:outputText>
                                
                                <c:RecordSnapshot element="{!element}" rendered="{!element.capabilities.recordSnapshot!=null}" />
                                <c:TrackedChanges element="{!element}" rendered="{!element.capabilities.trackedChanges!=null}" />
                                <c:Poll element="{!element}" rendered="{!element.capabilities.poll!=null}" />
                                
                                <div data-role="topics" data-elementid="{!element.id}">
                                    <ul class="list-inline" style="font-size:12px;">
                                        <apex:repeat value="{!element.capabilities.topics.items}" var="topic"><li><a href="{!URLFOR($Page.TopicView,null,[id=topic.id])}"><span class="hashtag">{!topic.name}</span></a></li></apex:repeat>
                                        <apex:outputText rendered="{!(element['actor']['id']==$User.Id || $User.Id='005b00000032lwgAAA' || $User.Id='005b00000031pACAAY') && NOT(ISPICKVAL($User.UserType,'Guest'))}"><li><a role="button" data-elementid="{!element.id}" onclick="showTopicsEdit(this);"><span class="badge" style="background-color:#fff;"><span class="fa fa-pencil icon-default"></span> edytuj tagi</span></a></li></apex:outputText>
                                    </ul>
                                </div>
                                    
                                <div class="row col-xs-12" style="dispaly: block">
                                <apex:outputText rendered="{!role!='readonly'}">
                                        <p style="font-size:12px;color:#777;display:inline-block;padding-right:4px;">
                                        
                                            <apex:outputText rendered="{!ISPICKVAL($User.UserType,'Guest')}">
                                                <a role="button" class="btn btn-default btn-small disabled"><span class="fa fa-thumbs-o-up icon-success"></span> <span class="hidden-xs">extra</span></a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                                <a data-role="{!element.id}-likeButton" role="button" data-elementId="{!element.Id}" onclick="likeFeedElement(this);" class="btn btn-default btn-small {!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'disabled','')}"><span data-role="{!element.id}-status" class="fa {!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'fa-thumbs-up','fa-thumbs-o-up')} icon-success"></span> <span class="hidden-xs">extra</span></a>
                                            </apex:outputText>
                                            <a data-role="{!element.id}-likes" data-liked-count="{!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,element.capabilities.chatterLikes.page.total,element.capabilities.chatterLikes.page.total+1)}" data-notliked-count="{!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,element.capabilities.chatterLikes.page.total-1,element.capabilities.chatterLikes.page.total)}" class="btn btn-default btn-small disabled">{!element.capabilities.chatterLikes.page.total}</a>
                                            <apex:outputText rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                                <a role="button" data-role="{!element.id}-mylike" data-elementId="{!element.Id}" data-mylikeid="{!element.capabilities.chatterLikes.myLike.id}" onclick="unlikeFeedElement(this);" class="btn btn-small {!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'','hidden disabled')}"><span class="fa fa-remove" style="color:#ccc;"></span></a>
                                            </apex:outputText>
                                            
                                        </p>
                                    </apex:outputText>
                                    
                                    <apex:outputText rendered="{!ISPICKVAL($User.UserType,'Guest') && role!='readonly'}">
                                        <p style="font-size:12px;color:#777;display:inline-block;">
                                            <c:MessageBody body="{!element.capabilities.chatterLikes.likesMessage}" />
                                        </p>
                                    </apex:outputText>
                                    
                                    <apex:outputText rendered="{!NOT(ISPICKVAL($User.UserType,'Guest')) && role!='readonly'}">
                                        <p data-role="{!element.id}-likesmessage-{!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'liked','notliked')}" style="font-size:12px;color:#777;display:inline-block;">
                                            <c:MessageBody body="{!element.capabilities.chatterLikes.likesMessage}" />
                                        </p>
                                        <apex:outputText rendered="{!element.capabilities.chatterLikes.isLikedByCurrentUser}">
                                            <p data-role="{!element.id}-likesmessage-notliked" style="font-size:12px;color:#777;display:inline-block;" class="hidden">
                                                Nie podoba Ci się to.
                                            </p>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!NOT(element.capabilities.chatterLikes.isLikedByCurrentUser)}">
                                            <p data-role="{!element.id}-likesmessage-liked" style="font-size:12px;color:#777;display:inline-block;" class="hidden">
                                                <apex:outputText rendered="{!element.capabilities.chatterLikes.page.total>0}">
                                                    Tobie i&nbsp;
                                                    <c:MessageBody body="{!element.capabilities.chatterLikes.likesMessage}" />
                                                </apex:outputText>
                                                <apex:outputText rendered="{!element.capabilities.chatterLikes.page.total==0}">
                                                    Podoba Ci się to.
                                                </apex:outputText>
                                            </p>
                                        </apex:outputText>
                                    </apex:outputText>
                                
                                    <span data-role="bestAnswerArea" data-elementid="{!element.id}">
                                        <c:BestAnswer element="{!element}" rendered="{!element.capabilities.questionAndAnswers.bestAnswer!=null}" />
                                    </span>
                                </div>  
                                    <apex:variable value="{!0}" var="rowAdSlide"/>
                                        <apex:repeat value="{!element.capabilities.topics.items}" var="topic">
                                        <apex:outputText rendered="{!topic.name=='Kreator 3D'}">
                                            <apex:variable value="{!rowAdSlide+1}" var="rowAdSlide"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!topic.name=='Okna dachowe'}">
                                            <apex:variable value="{!rowAdSlide+1}" var="rowAdSlide"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!topic.name=='Ogród zimowy'}">
                                            <apex:variable value="{!rowAdSlide+1}" var="rowAdSlide"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!topic.name=='Dach z blachy'}">
                                            <apex:variable value="{!rowAdSlide+1}" var="rowAdSlide"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!topic.name=='Dach'}">
                                            <apex:variable value="{!rowAdSlide+1}" var="rowAdSlide"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!topic.name=='Komin'}">
                                            <apex:variable value="{!rowAdSlide+1}" var="rowAdSlide"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!topic.name=='Ogrzewanie'}">
                                            <apex:variable value="{!rowAdSlide+1}" var="rowAdSlide"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!topic.name=='Ściany'}">
                                            <apex:variable value="{!rowAdSlide+1}" var="rowAdSlide"/>
                                        </apex:outputText>    
                                    </apex:repeat>
                                    <apex:variable value="{!rowAdSlide+1}" var="rowAdSlide"/>
        
        
                                    <div class="col-xs-12 section-col {!IF(rowAdSlide>0 && $User.Show_Ads__c && role='single','col-sm-8','')}">
                                        <apex:outputText rendered="{!role!='group' && role!='link' && role!='readonly' && comments!='hide'}">
                                            <apex:outputText rendered="{!element.capabilities.comments.page.nextPageToken!=null}">
                                                <div class="row" style="padding-bottom:7px;padding-top:7px;background-color:#f3f6f8;border-top:1px solid #ffffff;font-size:12px;">
                                                  <div class="col-xs-12" style="border-top:1px;color:#777;">
                                                    <span class="fa fa-comments-o hidden-sm hidden-md"></span> {!element.capabilities.comments.page.total}&nbsp;<c:numeral value="{!element.capabilities.comments.page.total}" n1="komentarz" n2="komentarze" n5="komentarzy" />
                                                  </div>
                                                </div>
                                            </apex:outputText>
                                            <div data-role="{!element.id}-comments">
                                                <apex:outputText rendered="{!element.capabilities.comments.page.nextPageToken!=null}">
                                                <div class="row" data-elementid="{!element.id}" data-role="moreCommentsBar" data-nextpageparam="{!element.capabilities.comments.page.nextPageToken}" style="padding-bottom:7px;padding-top:7px;background-color:#f3f6f8;border-top:1px solid #ffffff;font-size:12px;">
                                                  <div class="col-xs-12" style="border-top:1px;color:#777;">
                                                    <apex:outputText rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}"><a role="button" data-elementid="{!element.id}" data-role="moreCommentsButton" data-nextpageparam="{!element.capabilities.comments.page.nextPageToken}" onclick="loadMoreComments(this);" class="btn btn-default btn-small"><span data-elementid="{!element.id}" data-role="moreCommentsStatus" data-nextpageparam="{!element.capabilities.comments.page.nextPageToken}" class="fa fa-angle-double-up"></span> więcej</a></apex:outputText>
                                                    <apex:outputText rendered="{!ISPICKVAL($User.UserType,'Guest')}"><a href="{!URLFOR($Page.LoginView)}">Zaloguj się</a>, aby zobaczyć pozostałe komentarze</apex:outputText>
                                                  </div>
                                                </div>
                                                </apex:outputText>
                                                <apex:repeat value="{!element.capabilities.comments.page.items}" var="comment">
                                                    <c:Comment comment="{!comment}" element="{!element}" />
                                                </apex:repeat>
                                            </div>
                                        </apex:outputText>
                                        <!-- action: comments -->
                                        <apex:outputText rendered="{!NOT(ISPICKVAL($User.UserType,'Guest')) && role!='group' && role!='link' && role!='readonly' && comments!='hide'}">
                                            <c:CommentBar element="{!element}" />
                                        </apex:outputText>
                                        <!-- /action: comments -->
                                    </div>
                                    <apex:outputText rendered="{!role='single' && comments!='hide'}">
                                        <apex:repeat value="{!element.capabilities.topics.items}" var="topic">
                                            <script type="text/javascript">
                                                dataLayer.push({'event': 'GAEvent', 'eventCategory': 'Tagi', 'eventAction': 'Wyświetlenie wpisu', 'eventLabel': '{!topic.name}'});
                                            </script>
                                        </apex:repeat>
                                    </apex:outputText>
                                    <!-- adocean -->
                                    <apex:outputText rendered="{!$User.Show_Ads__c && role='single' && comments!='hide'}">
                                    

                                    <apex:outputText rendered="{!rowAdSlide>0}">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-11 pull-right">
                                                    <apex:variable var="topicgarage" value="{!0}" />
                                                    <style type="text/javascript">
                                                    #slideshow > div { 
                                                            position: absolute; 
                                                            top: 0px; 
                                                            left: 0px; 
                                                            right: 0px; 
                                                            bottom: 0px; 
                                                        }
                                                    </style>
                                                    <apex:outputText rendered="{!rowAdSlide>1}">
                                                    <div id="slideshow" style="min-height: 170px;">
                                                    <apex:repeat value="{!element.capabilities.topics.items}" var="topic">
                                                    <apex:outputText rendered="{!topic.name=='Okna dachowe'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaoyiroopqpmq"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaoyiroopqpmq', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Stan surowy zamknięty'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaosigldwllfm"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaosigldwllfm', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                     <apex:outputText rendered="{!topic.name=='Klimatyzacja i wentylacja'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaoydjfdpfmrk"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaoydjfdpfmrk', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Dach z blachy'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaoxghtcortwj"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaoxghtcortwj', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Dach'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaotndnmkkmhp"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaotndnmkkmhp', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Ogród zimowy'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaomhkmopoonw"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaomhkmopoonw', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Elewacja'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaoomegpjegly"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaoomegpjegly', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Ściany'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaoznljftfjlf"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaoznljftfjlf', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Komin'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaolngmirlhaf"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaolngmirlhaf', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Kreator 3D'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaoxjltotlkfl"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaoxjltotlkfl', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Ogrzewanie'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaopbojqufhcj"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaopbojqufhcj', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Garaż' || topic.name=='Brama garażowa' || topic.name=='Ogrodzenie, brama'}">
                                                        <apex:variable var="topicgarage" value="{!1}" />
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Hydroizolacja'}">
                                                        <div>                                                       
                                                       <div class="adocean" id="adoceanmyaozldndqfulj"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaozldndqfulj', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Ocieplenie'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaomoqtjqdquc"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaomoqtjqdquc', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!topic.name=='Tynki zewnętrzne'}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaozohknnnuex"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaozohknnnuex', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>  
                                                    </apex:outputText>   
                                                    </apex:repeat>
                                                    <apex:outputText rendered="{!topicgarage==1}">
                                                        <div>
                                                        <div class="adocean" id="adoceanmyaoqmqplxrihq"></div>
                                                            <script type="text/javascript">
                                                                ado.slave('adoceanmyaoqmqplxrihq', {myMaster: 'xto2W.L.gqjfo3BPIa6ytq0gAOTWqaNfdcMAkrS2mtf.G7' });
                                                            </script>
                                                        </div>
                                                    </apex:outputText>
                                                    </div>
                                                    
                                                    
                                                        
                                                    
                                                    
                                                    <script>
                                                    var slid = $('#slideshow').children().length;
                                                    
                                                    if(slid>1){
                                                        $("#slideshow > div:gt(0)").hide();

                                                        setInterval(function() { 
                                                          $('#slideshow > div:first')
                                                            .fadeOut(1000)
                                                            .next()
                                                            .fadeIn(2000)
                                                            .end()
                                                            .appendTo('#slideshow');
                                                        },  7000);
                                                    };
                                                    </script>
                                                    
                                                    </apex:outputText>
                                                    
                                                    <apex:variable var="adsense" value="{!1}"/>
                                                    <apex:repeat value="{!element.capabilities.topics.items}" var="topic">
                                                        <apex:variable var="adsense" value="{!0}" rendered="{!topic.name=='Ściany' || topic.name=='Dach'}"/>
                                                    </apex:repeat>
                                                    <apex:outputText rendered="{!adsense==1}">
                                                    <style>
                                                    .g_comments_right { width: 155px; height: 155px; }
                                                    @media(min-width: 958px) { .g_comments_right { width: 252px; height: 252px; } }
                                                    </style>
                                                    <script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                                        <!-- Społeczność Extradom - podgląd zdjęcia (za tagami) -->
                                                        <ins class="adsbygoogle g_comments_right"
                                                             style="display:inline-block"
                                                             data-ad-client="ca-pub-2439025834131615"
                                                             data-ad-slot="4855595978"></ins>
                                                        <script>
                                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                                    </script>
                                                    </apex:outputText>
                                                        
                                            </div>
                                        </div>
                                    </div>
                                    </apex:outputText>
                                    </apex:outputText>
                                    
                            </div>
                            </div>
                        </div>
                        </apex:outputText>
                        <!-- /standard layout -->
                        
                        <!-- content layout -->
                        <apex:outputText rendered="{!element.capabilities.content!=null && CONTAINS(element.capabilities.content.mimeType,'image/') && element.capabilities.comments.page.items.size==0 && role!='single' && role!='gallery' && role!='thumb' && role!='group' && role!='link' && role!='readonly' && LEFT(element.parent.id,3)!='0F9'}">
                        <div data-role="feedelement" data-elementid="{!element.id}" class="feed-element section-col col-xs-6 col-md-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <p style="margin-top:0;margin-bottom:6px;font-weight:normal;font-size:14px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    <a href="{!URLFOR($Page.ProfileView,null,[id=element['actor']['id']])}"><img title="{!element['actor']['displayName']}" alt="{!element['actor']['displayName']}" src="{!element['actor']['photo']['smallPhotoUrl']}" data-me="{!IF(element['actor']['id']==$User.Id,'small','')}" width="26" height="26" style="margin-right:2px;" /></a>
                                    <a href="{!URLFOR($Page.ProfileView,null,[id=element['actor']['id']])}">{!element['actor']['displayName']}</a>
                                    <span style="font-size:12px;color:#777;">
                                        
                                            <apex:outputText rendered="{!ISPICKVAL($User.UserType,'Guest')}">
                                                &nbsp; <a role="button" class="btn btn-default btn-small disabled"><span class="icon-success fa fa-thumbs-o-up"></span></a>
                                                {!element.capabilities.chatterLikes.page.total}
                                            </apex:outputText>
                                            <apex:outputText rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                                &nbsp; <a data-role="{!element.id}-likeButton" role="button" data-elementId="{!element.Id}" onclick="likeFeedElement(this);" class="btn btn-default btn-small {!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'disabled','')}"><span data-role="{!element.id}-status" class="fa {!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'fa-thumbs-up','fa-thumbs-o-up')} icon-success"></span></a>
                                                <span data-role="{!element.id}-likes" data-liked-count="{!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,element.capabilities.chatterLikes.page.total,element.capabilities.chatterLikes.page.total+1)}" data-notliked-count="{!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,element.capabilities.chatterLikes.page.total-1,element.capabilities.chatterLikes.page.total)}">{!element.capabilities.chatterLikes.page.total}</span>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                                <a role="button" data-role="{!element.id}-mylike" data-elementId="{!element.Id}" data-mylikeid="{!element.capabilities.chatterLikes.myLike.id}" onclick="unlikeFeedElement(this);" class="btn btn-small {!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'','hidden disabled')}"><span class="fa fa-remove" style="color:#ccc;"></span></a>
                                            </apex:outputText>
                                            &nbsp;<span class="fa fa-clock-o"></span>
                                            
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers!=null}">
                                                <a style="color:inherit;" href="{!URLFOR($Page.FeedElementQuestionView,null,[id=element.id])}">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)=='0F9'}">
                                                <a style="color:inherit;" href="{!URLFOR($Page.FeedElementExpertGroupView,null,[id=element.id])}">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)!='0F9' && NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                                <a style="color:inherit;" href="{!URLFOR($Page.FeedElementView,null,[id=element.id])}">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)!='0F9' && ISPICKVAL($User.UserType,'Guest')}">
                                                <a style="color:inherit;">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                            </apex:outputText>
                                        
                                    </span>
                                </p>
                                <p style="background-color:#f3f3f3;margin-bottom:0;">
                                    <a role="button" data-elementid="{!element.id}" data-toggle="modal" data-target="#feedElementModal" onclick="loadFeedElementModal(this);"><img src="//static.extradom.pl/preloader-327-218.png" data-original="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/crop%24wh32auto%2cresize%24327-218-2" class="lazy-load img-responsive" style="margin:0 auto;" /></a>
                                </p>
                            </div>
                            </div>
                        </div>
                        </apex:outputText>
                        <!-- content layout -->
                        
                        <!-- gallery layout -->
                        <apex:outputText rendered="{!element.capabilities.content!=null && CONTAINS(element.capabilities.content.mimeType,'image/') && role=='gallery' && LEFT(element.parent.id,3)!='0F9'}">
                        <div data-role="feedelement" data-elementid="{!element.id}" class="col-xs-6 col-md-4 col-lg-3 section-col">
                        <div class="row">
                            <div class="col-xs-12 transition-hover">
                                <div class="transition-hover-content" style="position:absolute;width:100%;padding-right:16px;">
                                    <p class="hover-background" style="margin:0;padding:2px 4px 8px 4px;font-weight:normal;font-size:14px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        <a href="{!URLFOR($Page.ProfileView,null,[id=element['actor']['id']])}"><img title="{!element['actor']['displayName']}" alt="{!element['actor']['displayName']}" src="{!element['actor']['photo']['smallPhotoUrl']}" data-me="{!IF(element['actor']['id']==$User.Id,'small','')}" width="26" height="26" style="margin-right:2px;" /></a>
                                        <a href="{!URLFOR($Page.ProfileView,null,[id=element['actor']['id']])}">{!element['actor']['displayName']}</a>
                                        <span style="font-size:12px;color:#777;padding-right:6px;">
                                        
                                            <apex:outputText rendered="{!ISPICKVAL($User.UserType,'Guest')}">
                                                &nbsp; <a role="button" class="btn btn-default btn-small disabled"><span class="icon-success fa fa-thumbs-o-up"></span></a>
                                                {!element.capabilities.chatterLikes.page.total}
                                            </apex:outputText>
                                            <apex:outputText rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                                &nbsp; <a data-role="{!element.id}-likeButton" role="button" data-elementId="{!element.Id}" onclick="likeFeedElement(this);" class="btn btn-default btn-small {!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'disabled','')}"><span data-role="{!element.id}-status" class="fa {!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'fa-thumbs-up','fa-thumbs-o-up')} icon-success"></span></a>
                                                <span data-role="{!element.id}-likes" data-liked-count="{!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,element.capabilities.chatterLikes.page.total,element.capabilities.chatterLikes.page.total+1)}" data-notliked-count="{!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,element.capabilities.chatterLikes.page.total-1,element.capabilities.chatterLikes.page.total)}">{!element.capabilities.chatterLikes.page.total}</span>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                                <a role="button" data-role="{!element.id}-mylike" data-elementId="{!element.Id}" data-mylikeid="{!element.capabilities.chatterLikes.myLike.id}" onclick="unlikeFeedElement(this);" class="btn btn-small {!IF(element.capabilities.chatterLikes.isLikedByCurrentUser,'','hidden disabled')}"><span class="fa fa-remove" style="color:#ccc;"></span></a>
                                            </apex:outputText>
                                            &nbsp;<a role="button" data-toggle="modal" data-target="#feedElement-{!element.id}" style="color:inherit;"><span class="fa fa-comments-o"></span></a> {!element.capabilities.comments.page.total}
                                            &nbsp;<span class="fa fa-clock-o"></span>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers!=null}">
                                                <a style="color:inherit;" href="{!URLFOR($Page.FeedElementQuestionView,null,[id=element.id])}">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)=='0F9'}">
                                                <a style="color:inherit;" href="{!URLFOR($Page.FeedElementExpertGroupView,null,[id=element.id])}">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)!='0F9' && NOT(ISPICKVAL($User.UserType,'Guest'))}">
                                                <a style="color:inherit;" href="{!URLFOR($Page.FeedElementView,null,[id=element.id])}">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!element.capabilities.questionAndAnswers==null && LEFT(element.parent.id,3)!='0F9' && ISPICKVAL($User.UserType,'Guest')}">
                                                <a style="color:inherit;">{!IF(FIND(' o ', element.relativeCreatedDate)>0 && NOT(CONTAINS(element.relativeCreatedDate, 'Wczoraj')),LEFT(element.relativeCreatedDate,FIND(' o ', element.relativeCreatedDate)),element.relativeCreatedDate)}</a>
                                            </apex:outputText>
                                        </span>

                                    </p>
                                </div>
                                <p style="background-color:#f3f3f3;margin:0;padding:0;">
                                    <a role="button" data-elementid="{!element.id}" data-toggle="modal" data-target="#feedElementModal" onclick="loadFeedElementModal(this);"><img src="//static.extradom.pl/preloader-327-218.png" data-original="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/crop%24wh32auto%2cresize%24327-218-2" class="lazy-load img-responsive" style="margin:0 auto;" /></a>
                                </p>
                            </div>
                        </div>
                        </div>
                        </apex:outputText>
                        <!-- gallery layout -->
                        
                        <!-- thumb layout -->
                        <apex:outputText rendered="{!element.capabilities.content!=null && CONTAINS(element.capabilities.content.mimeType,'image/') && role=='thumb'}">
                        <div data-role="feedelement" data-elementid="{!element.id}" class="col-xs-2 col-md-6" style="padding:4px;">
                                <p style="background-color:#f3f3f3;margin:0;">
                                    <a role="button" data-elementid="{!element.id}" data-toggle="modal" data-target="#feedElementModal" onclick="loadFeedElementModal(this);"><img src="//static.extradom.pl/preloader-327-218.png" data-original="//img.extradom.pl/media/render/{!$Organization.id}-{!element.capabilities.content.versionId}/crop%24wh32auto%2cresize%24327-218-2" class="lazy-load img-responsive" style="margin:0 auto;" /></a>
                                </p>
                        </div>
                        </apex:outputText>
                        <!-- thumb layout -->
                        
</apex:component>