<apex:component layout="none" allowDML="true" controller="FollowExtension">
    <script type="text/javascript">
        
        function follow() {
            
            $("#followButton").addClass('disabled');
            $("#followStatus").removeClass('fa-plus-circle');
            $("#followStatus").addClass('fa-circle-o-notch fa-spin');
            
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FollowExtension.follow}', $('#followButton').data('subjectid'), function(result, event) {
                    if (event.status) {
                        console.log(result);
                        $("#followCount").text($("#followCount").data('mysub-count'));
                        $("#unfollowButton").attr('data-subscriptionid', result.id);
                        $("#followStatus").removeClass('fa-circle-o-notch fa-spin');
                        $("#followStatus").addClass('fa-check');
                        $("#followDesc").text('obserwujesz');
                        $("#unfollowButton").removeClass('disabled');
                        $("#unfollowButton").removeClass('hidden');
                    } else if (event.type === 'exception') {
                        console.log(event.message);
                    } else {
                        console.log(event.message);
                    }
                },
                {escape: true}
            );
        }
        function unfollow() {
            
            $("#unfollowButton").addClass('disabled');
            $("#followStatus").removeClass('fa-check');
            $("#followStatus").addClass('fa-circle-o-notch fa-spin');
            
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FollowExtension.unfollow}', $('#unfollowButton').data('subscriptionid'), function(result, event) {
                    if (event.status) {
                        console.log(result);
                        $("#followCount").text($("#followCount").data('notmysub-count'));
                        $("#followButton").removeClass('disabled');
                        $("#followStatus").removeClass('fa-circle-o-notch fa-spin');
                        $("#followStatus").addClass('fa-plus-circle');
                        $("#followDesc").text('obserwuj');
                        $("#unfollowButton").addClass('hidden');
                    } else if (event.type === 'exception') {
                        console.log(event.message);
                    } else {
                        console.log(event.message);
                    }
                },
                {escape: true}
            );
        }
        
    </script>
</apex:component>