<apex:component layout="none" controller="HmacSignature">
<apex:attribute name="url" type="String" description="Url" assignTo="{!relUrl}"/>
<apex:attribute name="key" type="String" description="secretKey" assignTo="{!secretKeyValue}"/>{!HmacSignature}</apex:component>