<apex:component access="global" controller="ConnectApiTools" layout="none"><apex:attribute assignTo="{!integerValue}" description="The Integer value to be rendered based upon the user's locale" name="value" type="Integer"></apex:attribute>{!IntegerLocaleValue}</apex:component>