<apex:component controller="OrderEmailBasicInfoController" access="global">
    <apex:attribute name="recordId" description="Order Id" type="Id" assignTo="{!orderId}"/>
<apex:outputPanel rendered="{!orderId!=null}">
    <apex:outputPanel rendered="{!orderData.orderItems.size > 0}">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <th width="40%">Nazwa</th>
                <th width="20%">Ilość</th>
                <th width="20%">Cena sprzedaży</th>
                <th width="20%">Razem</th>
            </tr>
            <apex:repeat var="orderItem" value="{!orderData.orderItems}">
                <tr>
                    <td style="width:40%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <apex:outputPanel rendered="{! !isBlank(orderItem.designUrl)}">
                                    <td style="width:121px">
                                        <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.3; display:block; margin-top:0; margin-bottom:16px; font-weight:normal;">
                                            <img src='{!orderItem.designUrl}' style="padding-right:16px;" width="121"/>
                                        </p>
                                    </td>
                                </apex:outputPanel>
                                <td>
                                    <p style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.2; display:block; margin-top:0; margin-bottom:4px; font-weight:normal;">
                                        <span style="color: #D70300; font-weight:bold;">{!orderItem.productName}</span>
                                    </p>
                                    <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.3; display:block; margin-top:0; margin-bottom:16px; font-weight:normal;">
                                    {!orderItem.version}<br />
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:20%; text-align: center;">
                        <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.3; display:block; margin-top:0; margin-bottom:16px; font-weight:normal;">
                            {!orderItem.quantity}<br />
                        </p>
                    </td>
                    <td style="width:20%; text-align: center;">
                        <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.3; display:block; margin-top:0; margin-bottom:16px; font-weight:normal;">
                            {!orderItem.unitPrice}<br />
                        </p>
                    </td>
                    <td style="width:20%; text-align: center;">
                        <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.3; display:block; margin-top:0; margin-bottom:16px; font-weight:bold;">
                            {!orderItem.totalPrice}<br />
                        </p>
                    </td>
                </tr>
            </apex:repeat>
        </table>
    </apex:outputPanel>
</apex:outputPanel>

    <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.3; display:block; margin-top:0; margin-bottom:4px; font-weight:bold;">Dostawa i forma p&#322;atno&#347;ci</p>
    <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.3; display:block; margin-top:0; margin-bottom:16px; font-weight:normal;">
        {!orderData.shippingMethod} ({!orderData.paymentMethod}): {!orderData.shippingCost} zł brutto
    </p>

    <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.3; display:block; margin-top:0; margin-bottom:4px; font-weight:bold;">Do zap&#322;aty</p>
    <p style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #333; line-height: 1.3; display:block; margin-top:0; margin-bottom:16px; font-weight:normal;">
        <span style="color: #D70300; font-weight:bold;">{!orderData.shippingCost + orderData.totalAmount} zł brutto</span>
    </p>    
</apex:component>