.THIS .columnInputNumber .lightningInput label {
    display: none;
}

.THIS .lightningTextarea .slds-textarea {
    height: 120px;
}

.THIS .warningInput .slds-input {
    background-color: #ffb75d;
}